In [14]:
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

# 상관관계 분석

In [15]:
# 주식 가격
Price = pd.read_csv('stockprice')
Return = pd.read_csv('stockreturn')

# 주식 기사 점수 
Altria = pd.read_csv('scores/ALTRIA_scda.csv')
Coca = pd.read_csv('scores/Coca-cola_scda.csv')
Facebook = pd.read_csv('scores/Facebook_scda.csv')
Nike = pd.read_csv("scores/NIKE_scda.csv")
Walmart = pd.read_csv("scores/Walmart_scda.csv")
Amazon = pd.read_csv("scores/Amazon_scda.csv")
Spotify = pd.read_csv("scores/Spotify_scda.csv")
Microsoft = pd.read_csv("scores/Microsoft_scda.csv")
Pfizer = pd.read_csv("scores/PFIZER_scda.csv")
Tesla = pd.read_csv("scores/TESLA_scda.csv")
AMD = pd.read_csv("scores/AMD_scda.csv")

#SPY
SPY = pd.read_csv('SPY.csv')

#ETF
ETF = pd.read_csv('ETF_price.csv')

In [16]:
ETF

,Date,IYK,IXN,IBUY,PBS,PJP,SOXX,RTH,MJ,FTXG,XLC
0,2019-08-01,118.680420,29.956072,49.986225,33.744621,56.699383,200.902039,107.042473,24.727552,20.374716,49.707672
1,2019-08-02,118.285049,29.416929,49.258320,33.507050,56.699383,197.938995,106.382751,25.926413,20.034323,49.225742
2,2019-08-05,115.122025,28.296034,47.742680,32.319206,55.441795,189.392044,103.606018,25.166832,19.791191,47.632423
3,2019-08-06,116.520317,28.717192,48.350929,32.635975,55.687416,191.807480,104.610367,25.844048,19.674484,48.320896
4,2019-08-07,117.600357,28.948254,48.699924,32.418194,55.569523,193.020081,105.575333,26.072836,19.674484,48.379906
...,...,...,...,...,...,...,...,...,...,...,...
521,2021-08-25,185.940002,59.480000,116.480003,53.130001,81.800003,461.769989,180.839996,16.639999,24.670000,84.129997
522,2021-08-26,184.149994,59.209999,115.339996,52.619999,81.029999,462.200012,179.039993,16.350000,24.406000,83.400002
523,2021-08-27,185.639999,59.810001,115.919998,53.750000,81.360001,471.019989,179.380005,16.620001,24.700001,84.720001
524,2021-08-30,186.600006,60.380001,116.620003,53.750000,81.980003,471.959991,180.929993,16.330000,24.459999,85.300003
525,2021-08-31,186.550003,60.130001,115.879997,54.020000,82.169998,468.190002,181.339996,16.709999,24.530001,85.620003

In [7]:
stocks =[Altria, AMD, Coca, Facebook, Nike, Walmart, Tesla, Amazon, Spotify, Pfizer, Microsoft]
for i in stocks: 
    i = i.dropna(inplace=True)

In [66]:
for i in stocks:
    i['sent'] = (i["npos"]-i["nneg"])/i["nwords"]
    #i['date'] = pd.to_datetime(i['date'])

In [74]:
i

    Unnamed: 0  nwords  npos  nneg                date      sent
0            0       0     0     0                NONE       NaN
1            1     577    14     5   September 6, 2019  0.015598
2            2     591     4     8  September 20, 2019 -0.006768
3            3     590    20     4  September 20, 2019  0.027119
4            4       0     0     0                NONE       NaN
..         ...     ...   ...   ...                 ...       ...
66          66     237     7     1     August 21, 2021  0.025316
67          67     469    19     2     August 16, 2021  0.036247
68          68     131     2     0     August 21, 2021  0.015267
69          69     194    10     2   September 2, 2021  0.041237
70          70     463    20     2   September 1, 2021  0.038877

[71 rows x 6 columns]

In [69]:
# Return

In [48]:
Return = Return.rename({'Date': 'date'}, axis=1)
Return

,date,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
0,2018-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-04,0.072553,0.004839,0.011012,0.023037,0.029205,-0.006470,0.013304,-0.032145,0.012612,0.008292,0.019825,0.025787,0.010699,0.000091
2,2018-04-05,0.065449,0.006765,0.018785,0.025589,0.000542,0.027337,0.029194,-0.001595,-0.011071,0.013727,0.003617,0.017100,0.007892,0.000091
3,2018-04-06,-0.021000,-0.012755,-0.010691,-0.040918,-0.023273,-0.013430,-0.032044,0.027294,-0.015673,-0.016468,-0.010811,-0.029315,-0.022286,0.000000
4,2018-04-09,-0.032208,-0.004729,-0.009397,-0.008325,0.005985,0.004644,0.000605,0.014062,0.008246,-0.000124,-0.002049,-0.005477,0.004928,0.000181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,2021-09-08,0.001262,0.001290,0.001772,-0.027302,0.000100,-0.012062,0.004619,-0.019786,-0.005134,0.010288,0.013472,-0.011867,-0.001218,0.000091
866,2021-09-09,0.001313,-0.007053,-0.005700,-0.000188,-0.009860,0.001139,-0.011726,-0.014699,-0.010320,-0.000042,-0.009926,0.016365,-0.004280,0.000000
867,2021-09-10,-0.024627,-0.003620,0.000198,-0.008950,-0.005181,0.001825,-0.004308,0.007114,-0.009559,0.002389,-0.004475,0.001531,-0.007885,-0.000091
868,2021-09-13,0.009141,-0.005689,-0.010277,-0.003802,0.004329,-0.005757,-0.003453,-0.014288,-0.022154,0.008487,0.008272,-0.024879,0.002559,0.000000
869,2021-09-14,0.002005,-0.005239,-0.016174,0.008874,0.009428,0.000053,-0.002074,-0.001679,0.002916,-0.000332,0.000713,-0.004764,-0.005397,0.000000

In [49]:
Altria.dropna(inplace=True)

In [50]:
Altria['date'] = pd.to_datetime(Altria['date'])
Return['date'] = pd.to_datetime(Return['date'])

In [51]:
#AltriaC = pd.concat(Altria, Return, on =Return.date)

AltriaC = pd.merge(Altria, Return,
                        how="left", on=['date'])
AltriaC.head()

,Unnamed: 0,nwords,npos,nneg,date,sent,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
0,0,541,9,21,2019-07-05,-0.022181,-0.007663,-0.003027,-0.008335,0.009939,-0.002910,-0.004057,0.002017,0.003085,-0.010811,-0.007377,0.000192,0.007193,-0.001138,-0.000271
1,1,615,9,20,2019-08-28,-0.017886,0.007053,0.002669,0.013260,0.019205,-0.001326,0.002537,0.001374,-0.009038,0.021549,0.009350,0.007127,0.017676,0.007042,0.000000
2,2,450,6,16,2019-09-14,-0.022222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,538,10,22,2019-10-18,-0.022305,-0.019162,-0.005841,0.001129,-0.005459,-0.016322,-0.023846,-0.016767,-0.021217,0.000000,0.007977,0.018405,0.005651,-0.004377,0.000000
4,7,493,10,9,2020-02-13,0.002028,0.047844,0.013725,0.005507,0.011876,-0.005414,0.011292,-0.004690,-0.037939,-0.021463,-0.000184,0.003366,0.003592,-0.001067,0.000181

In [52]:
AltriaC.dropna(inplace=True)

In [53]:
# AltriaC[['sent']]

In [54]:
AltriaC

,Unnamed: 0,nwords,npos,nneg,date,sent,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
0,0,541,9,21,2019-07-05,-0.022181,-0.007663,-0.003027,-0.008335,0.009939,-0.002910,-0.004057,0.002017,0.003085,-0.010811,-0.007377,0.000192,0.007193,-0.001138,-0.000271
1,1,615,9,20,2019-08-28,-0.017886,0.007053,0.002669,0.013260,0.019205,-0.001326,0.002537,0.001374,-0.009038,0.021549,0.009350,0.007127,0.017676,0.007042,0.000000
3,3,538,10,22,2019-10-18,-0.022305,-0.019162,-0.005841,0.001129,-0.005459,-0.016322,-0.023846,-0.016767,-0.021217,0.000000,0.007977,0.018405,0.005651,-0.004377,0.000000
4,7,493,10,9,2020-02-13,0.002028,0.047844,0.013725,0.005507,0.011876,-0.005414,0.011292,-0.004690,-0.037939,-0.021463,-0.000184,0.003366,0.003592,-0.001067,0.000181
5,13,379,10,7,2020-08-07,0.007916,-0.024752,0.004793,0.014922,-0.021451,-0.017888,0.011912,-0.017842,-0.012533,0.004703,0.006989,0.006740,0.014037,0.000718,0.000000
6,14,268,5,2,2020-08-26,0.011194,0.064166,0.000536,-0.007353,-0.003822,0.021620,0.082223,0.028496,0.035729,-0.009373,0.005220,0.005218,0.000179,0.010026,0.000000
7,15,383,18,8,2020-09-17,0.026110,-0.041493,0.003156,-0.021552,-0.001435,-0.010436,-0.033015,-0.022537,-0.002299,0.001088,-0.009919,-0.004725,-0.018804,-0.008795,0.000000
8,16,749,25,9,2020-09-08,0.021362,-0.210628,-0.030666,-0.009657,-0.040483,-0.054096,-0.040922,-0.043944,-0.032996,-0.011826,0.008738,-0.024099,0.002847,-0.027323,0.000000
9,17,811,18,25,2020-09-21,-0.008631,0.016375,0.013157,-0.025602,0.040171,0.010729,-0.017344,0.001882,0.023302,-0.016653,-0.017524,-0.026957,-0.011251,-0.011130,0.000000
10,19,756,7,33,2020-11-19,-0.034392,0.025953,0.020323,-0.002738,0.036346,0.006348,0.003567,0.003722,-0.012173,-0.003579,-0.001902,0.009884,0.002127,0.004210,0.000000
11,20,392,7,1,2020-12-08,0.015306,0.012653,0.009047,0.012953,-0.012225,0.008027,-0.007634,0.006108,-0.026725,0.031758,-0.002394,0.003586,0.002667,0.002926,-0.000090
12,21,1202,30,31,2020-12-31,-0.000832,0.015674,-0.000208,0.006382,-0.006285,0.003338,0.004745,-0.008801,-0.014686,0.001905,0.014275,0.007348,-0.000777,0.005081,0.000090
13,22,672,24,7,2020-12-15,0.025298,-0.010284,-0.000481,-0.016783,0.024689,-0.000327,0.004960,0.002582,0.020697,-0.012752,0.013873,0.010700,0.022821,0.013519,-0.000090
14,23,249,5,4,2021-01-29,0.004016,-0.050154,-0.022678,-0.036811,-0.021481,-0.029172,-0.025170,-0.009705,-0.032080,0.001115,0.004932,-0.020346,-0.008388,-0.020020,0.000090
15,24,1535,25,64,2021-02-17,-0.025407,0.002424,0.010573,0.004377,-0.016619,0.004350,-0.001460,0.012142,0.004127,0.005765,-0.007348,-0.002785,0.016089,0.000229,0.000000
16,25,964,35,16,2021-02-02,0.019710,0.039271,0.010770,0.019622,0.013689,-0.000584,0.019350,0.011104,0.037276,-0.022626,0.008801,0.009901,0.028590,0.014140,0.000000
17,26,1830,19,56,2021-02-02,-0.020219,0.039271,0.010770,0.019622,0.013689,-0.000584,0.019350,0.011104,0.037276,-0.022626,0.008801,0.009901,0.028590,0.014140,0.000000
18,27,2108,17,55,2021-02-16,-0.018027,-0.024384,0.008237,0.000230,-0.024635,-0.005266,0.012828,-0.002673,0.041301,-0.000864,0.005283,-0.008286,-0.002885,-0.000866,0.000000
20,29,4461,46,121,2021-04-29,-0.016812,-0.025058,0.012619,-0.012293,-0.001309,-0.008053,0.072973,0.003704,0.020674,-0.005411,0.012048,0.012502,0.019509,0.006373,0.000000
21,30,350,12,4,2021-04-14,0.022857,-0.039472,-0.000359,0.003518,-0.020451,-0.011219,-0.022404,-0.019706,-0.018832,0.000269,-0.004366,-0.000188,-0.009585,-0.003415,0.000000
22,31,613,16,4,2021-04-08,0.019576,0.019122,-0.000644,0.006845,0.013990,0.013405,-0.000224,0.006071,0.002820,0.001392,-0.010146,-0.003003,-0.020946,0.004747,0.000000
23,32,1195,35,15,2021-05-18,0.016736,0.001803,0.021744,-0.004382,-0.002813,-0.008565,-0.017435,-0.011653,-0.010478,-0.001496,0.001079,-0.005490,-0.006231,-0.008616,0.000000
24,33,1547,23,64,2021-05-21,-0.026503,-0.010055,-0.004704,-0.000600,-0.011401,-0.005315,-0.007470,-0.013733,0.002012,-0.004237,-0.004049,-0.000549,-0.004577,-0.000819,0.000090
25,34,1221,20,55,2021-06-08,-0.028665,-0.002545,-0.007594,-0.012082,-0.005655,-0.004886,-0.008616,0.020669,-0.000618,-0.003591,0.004100,-0.006959,-0.004479,0.000213,0.000090
26,35,905,16,41,2021-06-02,-0.027624,-0.030101,-0.002188,0.003039,0.014355,-0.000404,0.000061,0.004766,-0.008274,0.007532,0.002315,0.003980,-0.002528,0.001573,0.000090
27,37,687,27,7,2021-06-15,0.029112,-0.029675,-0.003984,-0.003744,-0.013243,-0.005887,-0.000059,-0.000219,-0.034790,-0.001009,-0.002658,-0.002520,-0.008146,-0.001834,0.000091
29,39,132,2,1,2021-07-09,0.007576,0.006342,0.005086,0.020892,0.012926,0.001874,0.013800,-0.003235,0.026078,0.009172,0.012197,0.006096,0.002303,0.010675,0.000000
30,40,5715,53,150,2021-07-29,-0.016973,0.046941,0.001267,0.020580,0.000000,0.000978,-0.040077,-0.008374,0.008732,-0.006214,0.009265,0.005464,0.009247,0.004147,0.000000
31,41,596,10,11,2021-07-21,-0.001678,-0.007888,-0.004934,0.002542,0.026403,0.007447,0.013376,0.003361,0.005720,-0.000731,0.007086,0.012896,0.008389,0.008096,-0.000091
32,42,90,0,1,2021-07-15,-0.011111,-0.004255,0.000777,-0.001472,-0.023807,-0.005239,-0.009119,-0.013711,-0.021467,0.003504,-0.001054,0.003199,0.000929,-0.003416,-0.000091
33,43,159,1,3,2021-07-26,-0.012579,0.022133,0.001404,0.002527,-0.003581,-0.002140,0.007220,0.011809,-0.012518,0.003119,0.004198,0.000877,-0.007634,0.002455,-0.000091
34,44,368,10,6,2021-08-24,0.010870,0.003101,-0.010302,-0.005569,-0.010297,-0.006663,0.005945,0.012220,0.015260,-0.031043,-0.005132,-0.007619,0.001532,0.001587,0.000000

In [82]:
stats.pearsonr(AltriaC['sent'], AltriaC['MO']*100)

(-0.0938133606989418, 0.6095588389494904)

In [83]:
AltriaC['sent']

0    -0.022181
1    -0.017886
3    -0.022305
4     0.002028
5     0.007916
6     0.011194
7     0.026110
8     0.021362
9    -0.008631
10   -0.034392
11    0.015306
12   -0.000832
13    0.025298
14    0.004016
15   -0.025407
16    0.019710
17   -0.020219
18   -0.018027
20   -0.016812
21    0.022857
22    0.019576
23    0.016736
24   -0.026503
25   -0.028665
26   -0.027624
27    0.029112
29    0.007576
30   -0.016973
31   -0.001678
32   -0.011111
33   -0.012579
34    0.010870
Name: sent, dtype: float64

In [81]:
AltriaC['MO']*100

0    -0.833503
1     1.325967
3     0.112918
4     0.550661
5     1.492178
6    -0.735294
7    -2.155172
8    -0.965739
9    -2.560241
10   -0.273836
11    1.295275
12    0.638193
13   -1.678322
14   -3.681125
15    0.437687
16    1.962227
17    1.962227
18    0.023041
20   -1.229334
21    0.351769
22    0.684530
23   -0.438160
24   -0.059964
25   -1.208160
26    0.303890
27   -0.374376
29    2.089166
30    2.057959
31    0.254183
32   -0.147183
33    0.252685
34   -0.556931
Name: MO, dtype: float64

## By Month

In [56]:
Altria ['month'] = Altria['date'].dt.strftime('%Y-%m')
Altria.head()

   Unnamed: 0  nwords  npos  nneg       date      sent    month
0           0     541     9    21 2019-07-05 -0.022181  2019-07
1           1     615     9    20 2019-08-28 -0.017886  2019-08
2           2     450     6    16 2019-09-14 -0.022222  2019-09
3           3     538    10    22 2019-10-18 -0.022305  2019-10
7           7     493    10     9 2020-02-13  0.002028  2020-02

In [57]:
Altria_ByM = Altria.groupby(['month'], as_index=True).mean()
Altria_ByM.head()

         Unnamed: 0  nwords  npos  nneg      sent
month
2019-07         0.0   541.0   9.0  21.0 -0.022181
2019-08         1.0   615.0   9.0  20.0 -0.017886
2019-09         2.0   450.0   6.0  16.0 -0.022222
2019-10         3.0   538.0  10.0  22.0 -0.022305
2020-02         7.0   493.0  10.0   9.0  0.002028

In [58]:
#Return ['month'] = Return['date'].dt.strftime('%Y-%m')
#Return_ByM = Return.groupby(['month'], as_index=True).mean()

In [59]:
#AltriaBM = pd.merge(Altria_ByM, Return_ByM,
                       # how="left", on=['month'])

In [60]:
#stats.pearsonr(AltriaBM['sent'], AltriaBM['MO'])

In [61]:
Return

,date,TSLA,WMT,MO,AMD,MSFT,FB,AMZN,SPOT,PFE,MCD,KO,NKE,SPY,SHV
0,2018-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-04-04,0.072553,0.004839,0.011012,0.023037,0.029205,-0.006470,0.013304,-0.032145,0.012612,0.008292,0.019825,0.025787,0.010699,0.000091
2,2018-04-05,0.065449,0.006765,0.018785,0.025589,0.000542,0.027337,0.029194,-0.001595,-0.011071,0.013727,0.003617,0.017100,0.007892,0.000091
3,2018-04-06,-0.021000,-0.012755,-0.010691,-0.040918,-0.023273,-0.013430,-0.032044,0.027294,-0.015673,-0.016468,-0.010811,-0.029315,-0.022286,0.000000
4,2018-04-09,-0.032208,-0.004729,-0.009397,-0.008325,0.005985,0.004644,0.000605,0.014062,0.008246,-0.000124,-0.002049,-0.005477,0.004928,0.000181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,2021-09-08,0.001262,0.001290,0.001772,-0.027302,0.000100,-0.012062,0.004619,-0.019786,-0.005134,0.010288,0.013472,-0.011867,-0.001218,0.000091
866,2021-09-09,0.001313,-0.007053,-0.005700,-0.000188,-0.009860,0.001139,-0.011726,-0.014699,-0.010320,-0.000042,-0.009926,0.016365,-0.004280,0.000000
867,2021-09-10,-0.024627,-0.003620,0.000198,-0.008950,-0.005181,0.001825,-0.004308,0.007114,-0.009559,0.002389,-0.004475,0.001531,-0.007885,-0.000091
868,2021-09-13,0.009141,-0.005689,-0.010277,-0.003802,0.004329,-0.005757,-0.003453,-0.014288,-0.022154,0.008487,0.008272,-0.024879,0.002559,0.000000
869,2021-09-14,0.002005,-0.005239,-0.016174,0.008874,0.009428,0.000053,-0.002074,-0.001679,0.002916,-0.000332,0.000713,-0.004764,-0.005397,0.000000