In [6]:
from requests import get
from bs4 import BeautifulSoup as Soup
import pandas as pd
from datetime import datetime

In [142]:
Name = []
MovieId = []
Year = []
Rating = []
Meta_score = []
Votes = []
Genre = []

In [119]:
Date = datetime.today().strftime("%Y-%m")    # YYYYmmddHHMMSS 형태의 시간 출력

Date

'2021-10'

In [143]:

url = get('https://www.imdb.com/movies-coming-soon/' + str(Date) + '/?ref_=cs_dt_nx')
request = url.text
soup_data = Soup(request, 'html.parser')
# movies = soup_data.findAll('div', {'class' : 'list_item even'})
movies = soup_data.findAll('div', {'class' : 'list_item odd'})
for i in movies:
    Name.append(i.h4.a.text)
    MovieId.append(i.h4.a["href"][-8:-1])
    Genre.append(i.p.span)

In [157]:
i.span.div

In [144]:
Genre

[<span>Action</span>,
 <span>Crime</span>,
 <span>Drama</span>,
 <span>Western</span>,
 <span class="certRating">12</span>,
 <span>Documentary</span>,
 <span>Drama</span>,
 <span class="certRating">Youth not allowed</span>,
 <span>Drama</span>,
 <span>Drama</span>,
 <span>Animation</span>,
 <span class="certRating">12</span>,
 <span>Animation</span>,
 <span>Sci-Fi</span>,
 <span>Drama</span>,
 <span>Drama</span>]

In [146]:
data = list(zip(MovieId, Name, Genre))

In [147]:
df = pd.DataFrame(data, columns = ['MovieId', 'Name', 'Genre'])

In [148]:
df

    MovieId                               Name                Genre
0   7097896            베놈 2: 렛 데어 비 카니지 (2021)             [Action]
1   8110232   The Many Saints of Newark (2021)              [Crime]
2   0944760                      Titane (2021)              [Drama]
3   2731980                   Old Henry (2021)            [Western]
4   2382320               007 노 타임 투 다이 (2021)                 [12]
5   9098872                  The Rescue (2021)        [Documentary]
6   1389748                        Mass (2021)              [Drama]
7   0665338                      할로윈 킬즈 (2021)  [Youth not allowed]
8   6910282                   베르히만 아일랜드 (2021)              [Drama]
9   8709338         Hard Luck Love Song (2020)              [Drama]
10  8456190                   Seal Team (2021)          [Animation]
11  1160419                           듄 (2021)                 [12]
12  7504818            Ron's Gone Wrong (2021)          [Animation]
13  8956324                     Warning (2021)             [Sci-Fi]
14  7740510                     Antlers (2021)              [Drama]
15  6992978                 수베니어: 파트 II (2021)              [Drama]

In [59]:
data = list(zip(Name, Year, Genre, Rating, Meta_score, Votes))

In [60]:
df = pd.DataFrame(data, columns = ['Name', 'Year','Genre', 'Rating', 'Metascore', 'Votes'])

In [61]:
df

Empty DataFrame
Columns: [Name, Year, Genre, Rating, Metascore, Votes]
Index: []