In [5]:
from requests import get
from bs4 import BeautifulSoup as Soup
import pandas as pd

In [ ]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []

In [4]:
for n in range (10) :
    url = get('https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=' + str(n*100+1) + '&ref_=adv_nxt')
    request = url.text
    soup_data = Soup(request, 'html.parser')
    movies = soup_data.findAll('div', {'class' : 'lister-item mode-advanced'})
    for i in movies:
        Name.append(i.h3.a.text)
        Year.append(i.find('span', {'class' : 'lister-item-year text-muted unbold'}).text[1:5])
        Rating.append(i.find('div', {'class' : 'inline-block ratings-imdb-rating'})['data-value'])
        try :
            Meta_score.append(i.find('div', {'class' : 'inline-block ratings-metascore'}).span.text.strip())
        except:
            Meta_score.append(0)
        Votes.append(i.find('span', {'name' : 'nv'})['data-value'])

In [6]:
data = list(zip(Name, Year, Rating, Meta_score, Votes))

In [9]:
df = pd.DataFrame(data, columns = ['Name', 'Year', 'Rating', 'Metascore', 'Votes'])

In [11]:
df.head()

                       Name  Year Rating Metascore    Votes
0  The Shawshank Redemption  1994    9.3        80  2471023
1                    Daeboo  1972    9.2       100  1707556
2           Soorarai Pottru  2020    9.1         0    90357
3           The Dark Knight  2008      9        84  2425172
4    The Godfather: Part II  1974      9        90  1186144

In [12]:
df.to_csv('IMDB Top 1000 Movies.csv')