In [1]:
import pandas as pd
dataset = pd.read_csv("data.tsv", delimiter='\t')
dataset

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
29398103,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
29398104,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
29398105,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
29398106,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
29398107,tt9916856,2,The Wind,\N,\N,original,\N,1