In [54]:
import pandas as pd

In [55]:
movies = pd.read_csv('C:/Users/SDG/바탕 화면/최초 데이터 원본/ml-25m - 원본/movies.csv')

In [56]:
movies[['title']]

                                    title
0                        Toy Story (1995)
1                          Jumanji (1995)
2                 Grumpier Old Men (1995)
3                Waiting to Exhale (1995)
4      Father of the Bride Part II (1995)
...                                   ...
62418                           We (2018)
62419           Window of the Soul (2001)
62420                    Bad Poems (2018)
62421                 A Girl Thing (2001)
62422      Women of Devil's Island (1962)

[62423 rows x 1 columns]

In [57]:

movies.replace(',', ' ', inplace=True)

In [58]:
a = movies.loc[movie["movieId"] == 29, "title"]

In [59]:
a

28    City of Lost Children, The (Cité des enfants p...
Name: title, dtype: object

In [60]:
movies["title"]

0                          Toy Story (1995)
1                            Jumanji (1995)
2                   Grumpier Old Men (1995)
3                  Waiting to Exhale (1995)
4        Father of the Bride Part II (1995)
                        ...
62418                             We (2018)
62419             Window of the Soul (2001)
62420                      Bad Poems (2018)
62421                   A Girl Thing (2001)
62422        Women of Devil's Island (1962)
Name: title, Length: 62423, dtype: object