In [1]:
from requests import get
from bs4 import BeautifulSoup as Soup
import pandas as pd
import time
from tqdm import tqdm

In [83]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []
Genre = []
Movie_No = []
Director = []
Star = []
Actor_list = []

In [3]:
movies = pd.read_csv('./movies.csv')

In [6]:
movie_ID = movies[['imdb_movie_Id']]

In [7]:
movie_ID

       imdb_movie_Id
0             114709
1             113497
2             113228
3             114885
4             113041
...              ...
10988        4911244
10989        4033502
10990        1271038
10991        6920084
10992        4547524

[10993 rows x 1 columns]

In [84]:
for i in tqdm(range(len(movie_ID))) :
    try :    
        ids = format(int(movie_ID['imdb_movie_Id'][i]), '07')
        url = get('https://www.imdb.com/title/tt' + ids)
        request = url.text
        soup_data = Soup(request, 'html.parser')

        # director
        movies = soup_data.findAll('div', {'class' : 'ExpandablePrincipalCreditsPanel__PrincipalCredits-krzxv6-1 gprEPV PrincipalCredits__ExpandablePrincipalCreditsPanelNarrowScreen-hdn81t-2 hbUbKF'})
#         print(movies[0].div.text) # 영화감독
        Director.append(movies[0].div.text)

        a = movies[0].ul.findAll('a', {'class' : 'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'})
        Actor_list.append(a[-3].text)


    except :
        Director.append("N/A") 
        Actor_list.append("N/A")

100%|██████████████████████████████████████████████████████████████████████████| 10993/10993 [6:12:29<00:00,  2.03s/it]

In [85]:
len(Director)

11021

In [87]:
len(Actor_list)

10993

In [94]:
data = list(zip(Director, Actor_list))
df = pd.DataFrame(data, columns = ['Director', 'Actor_list'])

In [97]:
df.to_csv('./last.csv')