In [1]:
from requests import get
from bs4 import BeautifulSoup as Soup
import pandas as pd
import time
from tqdm import tqdm

In [2]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []
Genre = []
Movie_No = []
Director = []
Star = []
Actor_list = []

In [3]:
movies = pd.read_csv('./movies.csv')

In [4]:
movie_ID = movies[['imdb_movie_Id']]

In [5]:
movie_ID['imdb_movie_Id'][0]

114709

In [6]:
format(int(movie_ID['imdb_movie_Id'][1]), '07')

'0113497'

In [7]:
Rating = []
for i in tqdm(range(len(movie_ID))) :
    try :  
        ids = format(int(movie_ID['imdb_movie_Id'][i]), '07')
        url = get('https://www.imdb.com/title/tt' + ids + "/ratings/?ref_=tt_ov_rt")
        request = url.text
        soup_data = Soup(request, 'html.parser')

        # ratings
        movies = soup_data.findAll('div', {'class' : 'subpage_title_block__right-column'})
        a = movies[0].find('span', {'class' : 'ipl-rating-star__rating'}).text.strip()
#         print(a)
        if len(a) < 4 :
            Rating.append(a)
        else :
            Rating.append(0)
        
    except :
        Rating.append(0)

100%|██████████████████████████████████████████████████████████████████████████| 10993/10993 [3:15:34<00:00,  1.07s/it]

In [8]:
print(len(Rating))

10993

In [9]:
imdb_movie_Id = []
for i in range(len(movie_ID)) :
    imdb_movie_Id.append(movie_ID['imdb_movie_Id'][i])

In [10]:
len(Rating)

10993

In [11]:
data = list(zip(imdb_movie_Id, Rating))
df = pd.DataFrame(data, columns = ['imdb_movie_Id', 'Rating'])

In [13]:
df.to_csv('./마지막 크롤링 평점.csv')

In [14]:
df

       imdb_movie_Id Rating
0             114709    8.3
1             113497      7
2             113228    6.7
3             114885      6
4             113041    6.1
...              ...    ...
10988        4911244      0
10989        4033502      0
10990        1271038      0
10991        6920084      0
10992        4547524      0

[10993 rows x 2 columns]

In [18]:
last = pd.read_csv('./last.csv', usecols=['Director','Actor_list'])

In [19]:
last

                    Director       Actor_list
0              John Lasseter        Tom Hanks
1               Joe Johnston   Robin Williams
2              Howard Deutch   Walter Matthau
3            Forest Whitaker  Whitney Houston
4              Charles Shyer     Steve Martin
...                      ...              ...
10988  Alec GillisCarly Pope              NaN
10989                    NaN     John Carrafa
10990           Pil Gam-Sung   Julie Goodyear
10991         Marianna Palka  Kaya Scodelario
10992        Xavier Giannoli              NaN

[10993 rows x 2 columns]

In [20]:
Director = []
Actor_list = []
for i in range(len(last)) :
    Director.append(last['Director'][i])
    Actor_list.append(last['Actor_list'][i])

In [25]:
len(Director), len(Actor_list)

(10993, 10993)

In [26]:
data = list(zip(imdb_movie_Id, Rating, Director, Actor_list))
df = pd.DataFrame(data, columns = ['imdb_movie_Id', 'Rating','Director', 'Actor_list'])

In [28]:
df = df.set_index('imdb_movie_Id')

In [31]:
df

              Rating               Director       Actor_list
imdb_movie_Id
114709           8.3          John Lasseter        Tom Hanks
113497             7           Joe Johnston   Robin Williams
113228           6.7          Howard Deutch   Walter Matthau
114885             6        Forest Whitaker  Whitney Houston
113041           6.1          Charles Shyer     Steve Martin
...              ...                    ...              ...
4911244            0  Alec GillisCarly Pope              NaN
4033502            0                    NaN     John Carrafa
1271038            0           Pil Gam-Sung   Julie Goodyear
6920084            0         Marianna Palka  Kaya Scodelario
4547524            0        Xavier Giannoli              NaN

[10993 rows x 3 columns]

In [33]:
df.to_csv('./introduction.csv')