In [1]:
from requests import get
from bs4 import BeautifulSoup as Soup
import pandas as pd
import time
from tqdm import tqdm

In [2]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []
Genre = []
Movie_No = []
Director = []
Star = []
Actor_list = []

In [3]:
movies = pd.read_csv('./movies.csv')

In [6]:
movie_ID = movies[['imdb_movie_Id']]

In [7]:
movie_ID

       imdb_movie_Id
0             114709
1             113497
2             113228
3             114885
4             113041
...              ...
10988        4911244
10989        4033502
10990        1271038
10991        6920084
10992        4547524

[10993 rows x 1 columns]

In [78]:
for i in tqdm(range(3)) :
    ids = format(int(movie_ID['imdb_movie_Id'][i]), '07')
    url = get('https://www.imdb.com/title/tt' + ids)
    request = url.text
    soup_data = Soup(request, 'html.parser')
    
    # director
    movies = soup_data.findAll('div', {'class' : 'ExpandablePrincipalCreditsPanel__PrincipalCredits-krzxv6-1 gprEPV PrincipalCredits__ExpandablePrincipalCreditsPanelNarrowScreen-hdn81t-2 hbUbKF'})
    print(movies[0].div.text) # 영화감독
#     print(movies[0].)
    a = movies[0].ul.findAll('a', {'class' : 'ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link'})
    
    print(a[-3])
#     try :    
#         Rating.append(a)
#     except :
#         Rating.append(0)

 33%|████████████████████████████                                                        | 1/3 [00:01<00:02,  1.27s/it]

John Lasseter
<a class="ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link" href="/name/nm0000158/?ref_=tt_ov_st" rel="">Tom Hanks</a>

 67%|████████████████████████████████████████████████████████                            | 2/3 [00:02<00:01,  1.32s/it]

Joe Johnston
<a class="ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link" href="/name/nm0000245/?ref_=tt_ov_st" rel="">Robin Williams</a>

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:03<00:00,  1.33s/it]

Howard Deutch
<a class="ipc-metadata-list-item__list-content-item ipc-metadata-list-item__list-content-item--link" href="/name/nm0000527/?ref_=tt_ov_st" rel="">Walter Matthau</a>

In [ ]:
    # 감독 , 영화배우
    movies = soup_data.findAll('div', {'class' : 'ExpandablePrincipalCreditsPanel__PrincipalCredits-krzxv6-1 gprEPV PrincipalCredits__ExpandablePrincipalCreditsPanelNarrowScreen-hdn81t-2 hbUbKF'})
#     print(movies)
    
#     for i in movies :
#         print(i.a.text)
    
    movies = soup_data.findAll('div', {'class' : 'ipc-metadata-list-item__content-container'})
#     print(movies)
    for i in movies :
        print(i.li.text)
    
    
    
        Name.append(i.h3.a.text)
        Year.append(i.find('span', {'class' : 'lister-item-year text-muted unbold'}).text[-5:-1])
        try :    
            Rating.append(i.find('div', {'class' : 'inline-block ratings-imdb-rating'})['data-value'])
        except:
            Rating.append('0')
        Genre.append(i.find('span', {'class' : 'genre'}).text[1:-1])
        Director.append(i.select("div.lister-item-content> p:nth-of-type(3) a")[0].text)
        Movie_No.append(i.h3.a.get('href').split('/')[2][2:])
        Actor_list.append(i.select("div.lister-item-content> p:nth-of-type(3) a")[1:])
        try :    
            Votes.append(i.find('span', {'name' : 'nv'})['data-value'])
        except :
            Votes.append(0)
        try :
            Meta_score.append(i.find('div', {'class' : 'inline-block ratings-metascore'}).span.text.strip())
        except :
            Meta_score.append(0)

for k in range(len(Actor_list)):
    for j in range(len(Actor_list[k])):
        Actor_list[k][j] = Actor_list[k][j].text