In [1]:
# 라이브러리 및 데이터 로딩
import pandas as pd
from statsmodels.datasets import co2
from statsmodels import datasets
import matplotlib.pyplot as plt
import statsmodels.api as sm
%reload_ext autoreload
%autoreload 2
from module import stationarity_adf_test, stationarity_kpss_test

In [2]:
r_set = datasets.get_rdataset("co2", package="datasets")
raw = r_set.data

In [3]:
raw

        time  value
0   1,959.00 315.42
1   1,959.08 316.31
2   1,959.17 316.50
3   1,959.25 317.56
4   1,959.33 318.13
..       ...    ...
463 1,997.58 362.57
464 1,997.67 360.24
465 1,997.75 360.83
466 1,997.83 362.49
467 1,997.92 364.34

[468 rows x 2 columns]