In [1]:
import pandas_datareader as pdr
import datetime as dt

In [6]:
ticker = ['IYK','IXN','IBUY','PBS','PJP','SOXX','RTH','MJ','FTXG', 'IYK', 'XLC']
start = dt.datetime(2010, 7, 1)
end = dt.datetime(2021, 8, 31)
ls_key = 'Adj Close'

In [7]:
# ETF = pdr.get_data_yahoo(ticker, start, end, interval='m')
SPY = pdr.get_data_yahoo('SPY', start, end, interval='d')

In [8]:
SPY[['Adj Close']]

             Adj Close
Date
2010-06-30   82.888809
2010-07-01   82.519409
2010-07-02   82.069672
2010-07-06   82.607727
2010-07-07   85.209564
...                ...
2021-08-25  447.476440
2021-08-26  444.834900
2021-08-27  448.812164
2021-08-30  450.785828
2021-08-31  450.117981

[2813 rows x 1 columns]

In [177]:
ETF_adj = ETF['Adj Close']
# ETF_adj

In [178]:
IYK = ETF_adj[['IYK']]
# IYK.head()

In [179]:
# IYK['1_month'] = IYK['IYK'].shift()
# IYK['2_month'] = IYK['1_month'].shift()
# IYK['3_month'] = IYK['2_month'].shift()

IYK['3_month'] = IYK['IYK'].shift().shift().shift()

<ipython-input-179-228acbd00c65>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IYK['3_month'] = IYK['IYK'].shift().shift().shift()

In [180]:
# IYK.head()

In [181]:
IYK['3Mreturn'] = (IYK['IYK'] - IYK['3_month'])/IYK['3_month']
# IYK

<ipython-input-181-73ea80155bd1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IYK['3Mreturn'] = (IYK['IYK'] - IYK['3_month'])/IYK['3_month']

In [200]:
for name in ETF['Adj Close'].columns :
    print(name)
    globals()['{}'.format(name)] = ETF['Adj Close'][[name]]
    globals()['{}'.format(name)]['3_month'] = ETF['Adj Close'][[name]]

    for i in range(globals()['{}'.format(name)][name].size - 3) :
        globals()['{}'.format(name)]['3_month'][i] = (globals()['{}'.format(name)][name][i + 3])
        
#     globals()['{}'.format(name)] = globals()['{}'.format(name)][[name,'3_month']]
    
    globals()['{}'.format(name)]['per3month'] = (globals()['{}'.format(name)]['3_month'] - globals()['{}'.format(name)][name]) / globals()['{}'.format(name)][name]
    
    # 마지막 3개월, 첫 1개월 지우기
    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[-3:], inplace = True)
    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[0], inplace = True)
#     globals()['{}'.format(name)].dropna(inplace=True)

# for i in range(XLC['XLC'].size-3) :
#     XLC['XLC2'][i] = XLC['XLC'][i + 3]

# 마지막 3개월 지우기
# XLC.drop(XLC.index[-3:], inplace = True)

IYK
IXN
IBUY
PBS
PJP
SOXX
RTH
MJ
FTXG
XLC

In [215]:
XLC
# XLC : 현재 가격
# 3_month : 3개월후 가격
# per3month : 현재로부터 3개월 후 수익률

Symbols           XLC    3_month  per3month
Date
2019-08-01  48.714306  51.814980   0.063650
2019-09-01  48.704468  52.869816   0.085523
2019-10-01  49.902477  53.261501   0.067312
2019-11-01  51.814980  50.149395  -0.032145
2019-12-01  52.869816  43.707829  -0.173293
2020-01-01  53.261501  49.815125  -0.064707
2020-02-01  50.149395  53.520546   0.067222
2020-03-01  43.707829  53.540359   0.224960
2020-04-01  49.815125  57.708920   0.158462
2020-05-01  53.520546  62.801758   0.173414
2020-06-01  53.540359  58.969719   0.101407
2020-07-01  57.708920  58.895496   0.020561
2020-08-01  62.801758  65.063606   0.036016
2020-09-01  58.969719  67.132919   0.138430
2020-10-01  58.895496  66.642250   0.131534
2020-11-01  65.063606  71.315582   0.096090
2020-12-01  67.132919  73.059357   0.088279
2021-01-01  66.642250  77.909958   0.169078
2021-02-01  71.315582  78.648628   0.102825
2021-03-01  73.059357  80.824715   0.106288
2021-04-01  77.909958  82.400002   0.057631
2021-05-01  78.648628  85.620003   0.088639

In [90]:
# for i in range(XLC['XLC'].size-3) :
#     XLC['XLC2'][i] = XLC['XLC'][i + 3]

In [106]:
# 마지막 3개월 지우기
# XLC.drop(XLC.index[-3:], inplace = True)

In [216]:
XLC.to_csv('./XLC.csv')