In [151]:
import pandas_datareader as pdr
import datetime as dt

In [180]:
ticker = ['IYK','IXN','IBUY','PBS','PJP','SOXX','RTH','MJ','FTXG', 'IYK', 'XLC','SPY']
start = dt.datetime(2019, 7, 1)
end = dt.datetime(2021, 9, 1)
ls_key = 'Adj Close'

In [181]:
ETF = pdr.get_data_yahoo(ticker, start, end, interval='m')
# SPY = pdr.get_data_yahoo('SPY', start, end, interval='d')

In [190]:
ETF['Adj Close'][['SPY']].to_csv('./SPY.csv')

In [182]:
# IYK['3Mreturn'] = (IYK['IYK'] - IYK['3_month'])/IYK['3_month']
# IYK

save_date =ETF.index[1:]

In [183]:
# 26개
save_date

DatetimeIndex(['2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01',
               '2019-12-01', '2020-01-01', '2020-02-01', '2020-03-01',
               '2020-04-01', '2020-05-01', '2020-06-01', '2020-07-01',
               '2020-08-01', '2020-09-01', '2020-10-01', '2020-11-01',
               '2020-12-01', '2021-01-01', '2021-02-01', '2021-03-01',
               '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01',
               '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [184]:
for name in ETF['Adj Close'].columns :
    print(name)
    globals()['{}'.format(name)] = ETF['Adj Close'][[name]]
    globals()['{}'.format(name)]['3_month'] = ETF['Adj Close'][[name]]

    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[-1:], inplace = True)    
    globals()['{}'.format(name)]['Date'] = save_date
    globals()['{}'.format(name)].set_index('Date', drop=True, inplace=True)


    for i in range(globals()['{}'.format(name)][name].size - 3) :
        globals()['{}'.format(name)]['3_month'][i] = (globals()['{}'.format(name)][name][i + 3])
        globals()['{}'.format(name)] = globals()['{}'.format(name)][[name,'3_month']]
        globals()['{}'.format(name)]['per3month'] = (globals()['{}'.format(name)]['3_month'] - globals()['{}'.format(name)][name]) / globals()['{}'.format(name)][name]
    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[-3:], inplace = True)

IYK
IXN
IBUY
PBS
PJP
SOXX
RTH
MJ
FTXG
XLC
SPY

In [185]:
SPY

Symbols            SPY     3_month  per3month
Date
2019-08-01  286.411530  293.441864   0.024546
2019-09-01  281.616058  304.063965   0.079711
2019-10-01  285.776001  311.367828   0.089552
2019-11-01  293.441864  312.772308   0.065875
2019-12-01  304.063965  288.011475  -0.052793
2020-01-01  311.367828  250.573654  -0.195249
2020-02-01  312.772308  284.052979  -0.091822
2020-03-01  288.011475  297.586670   0.033246
2020-04-01  250.573654  301.537323   0.203388
2020-05-01  284.052979  320.700531   0.129017
2020-06-01  297.586670  343.084412   0.152889
2020-07-01  301.537323  328.921417   0.090815
2020-08-01  320.700531  322.004089   0.004065
2020-09-01  343.084412  357.030640   0.040650
2020-10-01  328.921417  368.686462   0.120895
2020-11-01  322.004089  366.484985   0.138138
2020-12-01  357.030640  376.675262   0.055022
2021-01-01  368.686462  392.490570   0.064565
2021-02-01  366.484985  414.610931   0.131318
2021-03-01  376.675262  417.333313   0.107939
2021-04-01  392.490570  425.301605   0.083597
2021-05-01  414.610931  437.109650   0.054265
2021-06-01  417.333313  450.117981   0.078558

In [160]:

# for name in ETF['Adj Close'].columns :
#     print(name)
#     globals()['{}'.format(name)] = ETF['Adj Close'][[name]]
#     globals()['{}'.format(name)]['3_month'] = ETF['Adj Close'][[name]]

#     for i in range(globals()['{}'.format(name)][name].size - 3) :
#         globals()['{}'.format(name)]['3_month'][i] = (globals()['{}'.format(name)][name][i + 3])
        
# #     globals()['{}'.format(name)] = globals()['{}'.format(name)][[name,'3_month']]
    
#     globals()['{}'.format(name)]['per3month'] = (globals()['{}'.format(name)]['3_month'] - globals()['{}'.format(name)][name]) / globals()['{}'.format(name)][name]
    
# #     globals()['{}'.format(name)] = globals()['{}'.format(name)][:-1]
# #     globals()['{}'.format(name)]['Date'] = save_date
# #     globals()['{}'.format(name)].set_index('Date', drop=True, inplace=True)
                                          
#     # 마지막 3개월, 첫 1개월 지우기
#     globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[:-2], inplace = True)
# #     globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[0], inplace = True)
# #     globals()['{}'.format(name)].dropna(inplace=True)

# # for i in range(XLC['XLC'].size-3) :
# #     XLC['XLC2'][i] = XLC['XLC'][i + 3]

# # 마지막 3개월 지우기
# # XLC.drop(XLC.index[-3:], inplace = True)



# # save_date = IXN.index[1:]
# # IXN = IXN[:-1]
# # IXN['Date'] = save_date
# # IXN.set_index('Date', drop=True, inplace=True)

In [161]:
# IYK[:-2]
# XLC : 현재 가격
# 3_month : 3개월후 가격
# per3month : 현재로부터 3개월 후 수익률

In [162]:
# for i in range(XLC['XLC'].size-3) :
#     XLC['XLC2'][i] = XLC['XLC'][i + 3]

In [163]:
# 마지막 3개월 지우기
# XLC.drop(XLC.index[-3:], inplace = True)

In [186]:
XLC.to_csv('./XLC.csv')