In [1]:
import pandas_datareader as pdr
import datetime as dt

In [2]:
ticker = ['IYK','IXN','IBUY','PBS','PJP','SOXX','RTH','MJ','FTXG', 'IYK', 'XLC']
start = dt.datetime(2019, 7, 1)
end = dt.datetime(2021, 9, 1)
ls_key = 'Adj Close'

In [13]:
ETF = pdr.get_data_yahoo(ticker, start, end, interval='m')
# SPY = pdr.get_data_yahoo('SPY', start, end, interval='d')

In [14]:
ETF['Adj Close'][['IYK']]

Symbols            IYK
Date
2019-07-01  119.924416
2019-08-01  118.950439
2019-09-01  121.978439
2019-10-01  122.955246
2019-11-01  125.272957
2019-12-01  129.151978
2020-01-01  131.289444
2020-02-01  120.543854
2020-03-01  105.601532
2020-04-01  117.457901
2020-05-01  122.317215
2020-06-01  125.213173
2020-07-01  136.752731
2020-08-01  151.747162
2020-09-01  147.136536
2020-10-01  143.404800
2020-11-01  161.698090
2020-12-01  171.751007
2021-01-01  171.218445
2021-02-01  167.151764
2021-03-01  175.981155
2021-04-01  181.430161
2021-05-01  181.200775
2021-06-01  183.394852
2021-07-01  186.389999
2021-08-01  186.550003
2021-09-01  183.070007

In [4]:
# IYK['3Mreturn'] = (IYK['IYK'] - IYK['3_month'])/IYK['3_month']
# IYK

save_date =ETF.index[1:]

In [5]:
# 26개
save_date

DatetimeIndex(['2019-08-01', '2019-09-01', '2019-10-01', '2019-11-01',
               '2019-12-01', '2020-01-01', '2020-02-01', '2020-03-01',
               '2020-04-01', '2020-05-01', '2020-06-01', '2020-07-01',
               '2020-08-01', '2020-09-01', '2020-10-01', '2020-11-01',
               '2020-12-01', '2021-01-01', '2021-02-01', '2021-03-01',
               '2021-04-01', '2021-05-01', '2021-06-01', '2021-07-01',
               '2021-08-01', '2021-09-01'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [6]:
for name in ETF['Adj Close'].columns :
    print(name)
    globals()['{}'.format(name)] = ETF['Adj Close'][[name]]
    globals()['{}'.format(name)]['3_month'] = ETF['Adj Close'][[name]]

    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[-1:], inplace = True)    
    globals()['{}'.format(name)]['Date'] = save_date
    globals()['{}'.format(name)].set_index('Date', drop=True, inplace=True)


    for i in range(globals()['{}'.format(name)][name].size - 3) :
        globals()['{}'.format(name)]['3_month'][i] = (globals()['{}'.format(name)][name][i + 3])
        globals()['{}'.format(name)] = globals()['{}'.format(name)][[name,'3_month']]
        globals()['{}'.format(name)]['per3month'] = (globals()['{}'.format(name)]['3_month'] - globals()['{}'.format(name)][name]) / globals()['{}'.format(name)][name]
    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[-3:], inplace = True)

IYK
IXN
IBUY
PBS
PJP
SOXX
RTH
MJ
FTXG
XLC

In [12]:
IYK

Symbols            IYK     3_month  per3month
Date
2019-08-01  119.924416  122.955246   0.025273
2019-09-01  118.950439  125.272957   0.053153
2019-10-01  121.978439  129.151978   0.058810
2019-11-01  122.955246  131.289444   0.067782
2019-12-01  125.272957  120.543854  -0.037750
2020-01-01  129.151978  105.601532  -0.182347
2020-02-01  131.289444  117.457901  -0.105352
2020-03-01  120.543854  122.317215   0.014711
2020-04-01  105.601532  125.213173   0.185714
2020-05-01  117.457901  136.752731   0.164270
2020-06-01  122.317215  151.747162   0.240603
2020-07-01  125.213173  147.136536   0.175088
2020-08-01  136.752731  143.404800   0.048643
2020-09-01  151.747162  161.698090   0.065576
2020-10-01  147.136536  171.751007   0.167290
2020-11-01  143.404800  171.218445   0.193952
2020-12-01  161.698090  167.151764   0.033728
2021-01-01  171.751007  175.981155   0.024630
2021-02-01  171.218445  181.430161   0.059641
2021-03-01  167.151764  181.200775   0.084049
2021-04-01  175.981155  183.394852   0.042128
2021-05-01  181.430161  186.389999   0.027337
2021-06-01  181.200775  186.550003   0.029521

In [7]:

# for name in ETF['Adj Close'].columns :
#     print(name)
#     globals()['{}'.format(name)] = ETF['Adj Close'][[name]]
#     globals()['{}'.format(name)]['3_month'] = ETF['Adj Close'][[name]]

#     for i in range(globals()['{}'.format(name)][name].size - 3) :
#         globals()['{}'.format(name)]['3_month'][i] = (globals()['{}'.format(name)][name][i + 3])
        
# #     globals()['{}'.format(name)] = globals()['{}'.format(name)][[name,'3_month']]
    
#     globals()['{}'.format(name)]['per3month'] = (globals()['{}'.format(name)]['3_month'] - globals()['{}'.format(name)][name]) / globals()['{}'.format(name)][name]
    
# #     globals()['{}'.format(name)] = globals()['{}'.format(name)][:-1]
# #     globals()['{}'.format(name)]['Date'] = save_date
# #     globals()['{}'.format(name)].set_index('Date', drop=True, inplace=True)
                                          
#     # 마지막 3개월, 첫 1개월 지우기
#     globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[:-2], inplace = True)
# #     globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[0], inplace = True)
# #     globals()['{}'.format(name)].dropna(inplace=True)

# # for i in range(XLC['XLC'].size-3) :
# #     XLC['XLC2'][i] = XLC['XLC'][i + 3]

# # 마지막 3개월 지우기
# # XLC.drop(XLC.index[-3:], inplace = True)



# # save_date = IXN.index[1:]
# # IXN = IXN[:-1]
# # IXN['Date'] = save_date
# # IXN.set_index('Date', drop=True, inplace=True)

In [8]:
# IYK[:-2]
# XLC : 현재 가격
# 3_month : 3개월후 가격
# per3month : 현재로부터 3개월 후 수익률

In [9]:
# for i in range(XLC['XLC'].size-3) :
#     XLC['XLC2'][i] = XLC['XLC'][i + 3]

In [10]:
# 마지막 3개월 지우기
# XLC.drop(XLC.index[-3:], inplace = True)

In [11]:
# XLC.to_csv('./XLC.csv')