In [18]:
import pandas_datareader as pdr
import datetime as dt

In [33]:
ticker = ['IYK','IXN','IBUY','PBS','PJP','SOXX','RTH','MJ','FTXG', 'IYK', 'XLC']
start = dt.datetime(2019, 7, 1)
end = dt.datetime(2021, 8, 31)
ls_key = 'Adj Close'

In [34]:
ETF = pdr.get_data_yahoo(ticker, start, end, interval='m')
SPY = pdr.get_data_yahoo('SPY', start, end, interval='d')

In [35]:
ETF['Adj Close'].to_csv('./ETF.csv')
ETF['Adj Close']

Symbols,IYK,IXN,IBUY,PBS,PJP,SOXX,RTH,MJ,FTXG,XLC
Date,,,,,,,,,,
2019-07-01,119.924416,30.070786,50.484791,34.031681,56.404629,204.950607,108.401299,25.697624,20.082952,49.943722
2019-08-01,118.950439,29.597193,47.842392,31.646097,55.038971,200.207748,110.951576,21.972933,20.454462,48.714306
2019-09-01,121.978439,30.311678,46.625889,31.062077,55.667767,206.740173,112.714127,18.998671,20.666473,48.704468
2019-10-01,122.955246,31.486654,48.281128,31.463703,58.835220,220.377090,114.506203,17.958147,20.339535,49.902477
2019-11-01,125.272957,33.079502,49.189518,32.781292,62.834408,229.335587,118.169144,15.985435,20.646673,51.814980
2019-12-01,129.151978,34.493732,51.209705,33.692711,63.750484,246.653381,118.267609,15.855776,21.519341,52.869816
2020-01-01,131.289444,35.491055,51.419998,33.669514,61.824692,239.600449,118.767639,15.617871,21.170929,53.261501
2020-02-01,120.543854,33.124653,49.080002,30.521069,57.608250,228.490845,111.802345,13.134496,18.949057,50.149395
2020-03-01,105.601532,30.051302,41.509998,23.856688,54.320011,202.289185,104.618462,10.764434,16.867218,43.707829
2020-04-01,117.457901,33.909058,53.830002,27.730173,61.847050,232.492661,120.118965,11.508269,18.451761,49.815125
2020-05-01,122.317215,36.371037,64.000000,30.421745,64.134377,249.130341,128.067932,13.130496,19.016409,53.520546
2020-06-01,125.213173,38.814892,70.269997,32.239304,64.084869,267.934326,131.694656,12.281213,18.926065,53.540359
2020-07-01,136.752731,41.460415,84.330002,34.060246,64.489586,287.868622,140.567703,12.604687,20.488701,57.708920
2020-08-01,151.747162,45.508480,91.000000,36.397228,65.134781,304.552460,151.080231,12.302721,21.258381,62.801758
2020-09-01,147.136536,43.636703,88.230003,36.049164,63.397713,301.965149,147.930450,10.140247,20.417746,58.969719
2020-10-01,143.404800,41.465374,88.739998,35.425632,61.522923,303.922638,143.310104,10.608550,20.948841,58.895496
2020-11-01,161.698090,46.713295,105.650002,43.033890,66.474991,359.965424,157.012146,15.665424,22.493273,65.063606
2020-12-01,171.751007,49.657497,114.320000,45.848442,70.999458,377.246857,156.078140,14.200811,22.938784,67.132919
2021-01-01,171.218445,49.717033,123.959999,47.226948,76.919472,390.217346,156.889999,18.977543,23.690023,66.642250
2021-02-01,167.151764,50.485767,130.589996,53.335857,76.341652,415.628998,153.600006,22.474194,24.217131,71.315582
2021-03-01,175.981155,51.091789,124.180000,50.226593,78.583183,422.687256,165.080002,22.812901,27.190817,73.059357
2021-04-01,181.430161,53.532482,125.199997,51.940834,77.826241,421.526306,173.660004,21.316870,25.830185,77.909958
2021-05-01,181.200775,53.152264,119.660004,53.048931,78.504990,432.163605,170.809998,21.516279,26.567619,78.648628
2021-06-01,183.394852,56.039585,129.690002,56.253429,80.311653,453.677917,175.580002,20.519232,25.566103,80.824715
2021-07-01,186.389999,58.150002,120.870003,53.240002,81.160004,456.910004,176.630005,17.959999,24.877001,82.400002
2021-08-01,186.550003,60.130001,115.879997,54.020000,82.169998,468.190002,181.339996,16.709999,24.530001,85.620003

In [22]:
SPY[['Adj Close']]

             Adj Close
Date
2010-06-30   82.888809
2010-07-01   82.519409
2010-07-02   82.069672
2010-07-06   82.607727
2010-07-07   85.209564
...                ...
2021-08-25  447.476440
2021-08-26  444.834900
2021-08-27  448.812164
2021-08-30  450.785828
2021-08-31  450.117981

[2813 rows x 1 columns]

In [23]:
ETF_adj = ETF['Adj Close']
# ETF_adj

In [24]:
IYK = ETF_adj[['IYK']]
# IYK.head()

In [25]:
# IYK['1_month'] = IYK['IYK'].shift()
# IYK['2_month'] = IYK['1_month'].shift()
# IYK['3_month'] = IYK['2_month'].shift()

IYK['3_month'] = IYK['IYK'].shift().shift().shift()

<ipython-input-25-228acbd00c65>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IYK['3_month'] = IYK['IYK'].shift().shift().shift()

In [26]:
# IYK.head()

In [27]:
IYK['3Mreturn'] = (IYK['IYK'] - IYK['3_month'])/IYK['3_month']
# IYK

<ipython-input-27-73ea80155bd1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IYK['3Mreturn'] = (IYK['IYK'] - IYK['3_month'])/IYK['3_month']

In [28]:
for name in ETF['Adj Close'].columns :
    print(name)
    globals()['{}'.format(name)] = ETF['Adj Close'][[name]]
    globals()['{}'.format(name)]['3_month'] = ETF['Adj Close'][[name]]

    for i in range(globals()['{}'.format(name)][name].size - 3) :
        globals()['{}'.format(name)]['3_month'][i] = (globals()['{}'.format(name)][name][i + 3])
        
#     globals()['{}'.format(name)] = globals()['{}'.format(name)][[name,'3_month']]
    
    globals()['{}'.format(name)]['per3month'] = (globals()['{}'.format(name)]['3_month'] - globals()['{}'.format(name)][name]) / globals()['{}'.format(name)][name]
    
    # 마지막 3개월, 첫 1개월 지우기
    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[-3:], inplace = True)
    globals()['{}'.format(name)].drop(globals()['{}'.format(name)].index[0], inplace = True)
#     globals()['{}'.format(name)].dropna(inplace=True)

# for i in range(XLC['XLC'].size-3) :
#     XLC['XLC2'][i] = XLC['XLC'][i + 3]

# 마지막 3개월 지우기
# XLC.drop(XLC.index[-3:], inplace = True)

IYK
IXN
IBUY
PBS
PJP
SOXX
RTH
MJ
FTXG
XLC

In [29]:
XLC
# XLC : 현재 가격
# 3_month : 3개월후 가격
# per3month : 현재로부터 3개월 후 수익률

Symbols           XLC    3_month  per3month
Date
2010-08-01        NaN        NaN        NaN
2010-09-01        NaN        NaN        NaN
2010-10-01        NaN        NaN        NaN
2010-11-01        NaN        NaN        NaN
2010-12-01        NaN        NaN        NaN
...               ...        ...        ...
2021-01-01  66.642250  77.909958   0.169078
2021-02-01  71.315582  78.648628   0.102825
2021-03-01  73.059357  80.824715   0.106288
2021-04-01  77.909958  82.400002   0.057631
2021-05-01  78.648628  85.620003   0.088639

[130 rows x 3 columns]

In [30]:
# for i in range(XLC['XLC'].size-3) :
#     XLC['XLC2'][i] = XLC['XLC'][i + 3]

In [31]:
# 마지막 3개월 지우기
# XLC.drop(XLC.index[-3:], inplace = True)

In [32]:
XLC.to_csv('./XLC.csv')