In [2]:
import yfinance as yf

In [3]:
yf.download('AAPL',start = '2019-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,39.632500,39.840000,39.119999,39.435001,38.338478,140014000
2019-01-02,38.722500,39.712502,38.557499,39.480000,38.382229,148158800
2019-01-03,35.994999,36.430000,35.500000,35.547501,34.559078,365248800
2019-01-04,36.132500,37.137501,35.950001,37.064999,36.034370,234428400
2019-01-07,37.174999,37.207500,36.474998,36.982498,35.954170,219111200
...,...,...,...,...,...,...
2021-09-03,153.759995,154.630005,153.089996,154.300003,154.300003,57808700
2021-09-07,154.970001,157.259995,154.389999,156.690002,156.690002,82278300
2021-09-08,156.979996,157.039993,153.979996,155.110001,155.110001,74420200
2021-09-09,155.490005,156.110001,153.949997,154.070007,154.070007,57305700
2021-09-10,155.000000,155.479996,148.699997,148.970001,148.970001,140646400

In [5]:
data = yf.download(['AAPL','MU'],start = '2019-08-01')

[*********************100%***********************]  2 of 2 completed

In [12]:
data

             Adj Close                  Close                   High  \
                  AAPL         MU        AAPL         MU        AAPL
Date
2018-12-31   38.338478  31.730000   39.435001  31.730000   39.840000
2019-01-02   38.382229  32.750000   39.480000  32.750000   39.712502
2019-01-03   34.559078  31.000000   35.547501  31.000000   36.430000
2019-01-04   36.034370  32.700001   37.064999  32.700001   37.137501
2019-01-07   35.954170  34.000000   36.982498  34.000000   37.207500
...                ...        ...         ...        ...         ...
2021-09-03  154.300003  73.809998  154.300003  73.809998  154.630005
2021-09-07  156.690002  73.639999  156.690002  73.639999  157.259995
2021-09-08  155.110001  72.269997  155.110001  72.269997  157.039993
2021-09-09  154.070007  72.870003  154.070007  72.870003  156.110001
2021-09-10  148.970001  73.500000  148.970001  73.500000  155.479996

                              Low                   Open             \
                   MU        AAPL         MU        AAPL         MU
Date
2018-12-31  32.400002   39.119999  31.459999   39.632500  31.990000
2019-01-02  33.080002   38.557499  30.750000   38.722500  31.000000
2019-01-03  32.150002   35.500000  30.860001   35.994999  31.820000
2019-01-04  33.040001   35.950001  31.549999   36.132500  31.660000
2019-01-07  34.450001   36.474998  33.310001   37.174999  33.700001
...               ...         ...        ...         ...        ...
2021-09-03  74.720001  153.089996  73.599998  153.759995  74.000000
2021-09-07  74.489998  154.389999  73.160004  154.970001  73.760002
2021-09-08  73.239998  153.979996  71.110001  156.979996  73.199997
2021-09-09  73.269997  153.949997  71.419998  155.490005  71.629997
2021-09-10  75.629997  148.699997  73.459999  155.000000  73.769997

               Volume
                 AAPL        MU
Date
2018-12-31  140014000  21392100
2019-01-02  148158800  26004300
2019-01-03  365248800  29145500
2019-01-04  234428400  28557300
2019-01-07  219111200  44841500
...               ...       ...
2021-09-03   57808700   9222500
2021-09-07   82278300  12028400
2021-09-08   74420200  17375500
2021-09-09   57305700  14638100
2021-09-10  140646400  18227500

[680 rows x 12 columns]

In [13]:
data['Adj Close']

                  AAPL         MU
Date
2018-12-31   38.338478  31.730000
2019-01-02   38.382229  32.750000
2019-01-03   34.559078  31.000000
2019-01-04   36.034370  32.700001
2019-01-07   35.954170  34.000000
...                ...        ...
2021-09-03  154.300003  73.809998
2021-09-07  156.690002  73.639999
2021-09-08  155.110001  72.269997
2021-09-09  154.070007  72.870003
2021-09-10  148.970001  73.500000

[680 rows x 2 columns]

In [7]:
yf.download('SPY',start = '2019-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-12-31,249.559998,250.190002,247.470001,249.919998,239.210373,144299400
2019-01-02,245.979996,251.210007,245.949997,250.179993,239.459229,126925200
2019-01-03,248.229996,248.570007,243.669998,244.210007,233.745056,144140700
2019-01-04,247.589996,253.110001,247.169998,252.389999,241.574493,142628800
2019-01-07,252.690002,255.949997,251.690002,254.380005,243.479263,103139100
...,...,...,...,...,...,...
2021-09-03,451.980011,453.630005,451.549988,453.079987,453.079987,47170500
2021-09-07,452.709991,452.809998,450.739990,451.459991,451.459991,51671500
2021-09-08,450.890015,451.670013,448.859985,450.910004,450.910004,56181900
2021-09-09,450.700012,452.570007,448.720001,448.980011,448.980011,57970400
2021-09-10,451.040009,451.489990,445.309998,445.440002,445.440002,89848000

In [11]:
yf.download('IBUY',start = '2019-01-01')

[*********************100%***********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  Volume
Date
2018-12-31   40.340000   40.456001   39.830002   40.090000   39.975021  129800
2019-01-02   39.389999   40.490002   39.389999   40.209999   40.094673  490200
2019-01-03   39.970001   40.070000   39.270000   39.270000   39.157372  674900
2019-01-04   39.939999   41.477001   39.939999   41.160000   41.041950   33900
2019-01-07   41.490002   42.799999   41.490002   42.419998   42.298336   58200
...                ...         ...         ...         ...         ...     ...
2021-09-03  116.010002  116.510002  115.480003  115.839996  115.839996   62900
2021-09-07  115.750000  117.199997  115.750000  116.379997  116.379997  491100
2021-09-08  116.099998  116.099998  113.919998  114.510002  114.510002   71400
2021-09-09  114.379997  116.000000  114.309998  115.209999  115.209999  101000
2021-09-10  115.910004  116.480003  114.459999  114.550003  114.550003   51400

[679 rows x 6 columns]