In [2]:
import yfinance as yf

In [28]:
yf.download('^GSPE',start = '2020-01-01')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-09-10,357.549988,363.609985,356.480011,357.390015,357.390015,131166253

In [33]:
data = yf.download(['IYK','IXN','IBUY','TRYP','PBS','PJP','SOXX','RTH','MJ','FTXG', 'IYK', 'XLC'],start = '2019-08-01', end= '2021-08-31')

[*********************100%***********************]  11 of 11 completed

In [34]:
data

            Adj Close                                                \
                 FTXG        IBUY        IXN         IYK         MJ
Date
2019-07-31  20.082952   50.484791  30.070786  119.924416  25.697624
2019-08-01  20.374716   49.986225  29.956072  118.680420  24.727552
2019-08-02  20.034323   49.258320  29.416929  118.285049  25.926413
2019-08-05  19.791191   47.742680  28.296034  115.122025  25.166832
2019-08-06  19.674484   48.350929  28.717192  116.520317  25.844048
...               ...         ...        ...         ...        ...
2021-08-24  24.715000  116.470001  59.549999  185.729996  16.830000
2021-08-25  24.670000  116.480003  59.480000  185.940002  16.639999
2021-08-26  24.406000  115.339996  59.209999  184.149994  16.350000
2021-08-27  24.700001  115.919998  59.810001  185.639999  16.620001
2021-08-30  24.459999  116.620003  60.380001  186.600006  16.330000

                                                                 ...  \
                  PBS        PJP         RTH        SOXX   TRYP  ...
Date                                                             ...
2019-07-31  34.031681  56.404629  108.401299  204.950607    NaN  ...
2019-08-01  33.744621  56.699383  107.042473  200.902039    NaN  ...
2019-08-02  33.507050  56.699383  106.382751  197.938995    NaN  ...
2019-08-05  32.319206  55.441795  103.606018  189.392044    NaN  ...
2019-08-06  32.635975  55.687416  104.610367  191.807480    NaN  ...
...               ...        ...         ...         ...    ...  ...
2021-08-24  52.990002  82.190002  180.369995  458.279999  4.735  ...
2021-08-25  53.130001  81.800003  180.839996  461.769989  4.780  ...
2021-08-26  52.619999  81.029999  179.039993  462.200012  4.750  ...
2021-08-27  53.750000  81.360001  179.380005  471.019989  4.822  ...
2021-08-30  53.750000  81.980003  180.929993  471.959991  4.790  ...

              Volume                                                        \
                IBUY      IXN    IYK      MJ    PBS    PJP     RTH    SOXX
Date
2019-07-31   25000.0   264000  20000  282400   1900  41000    7100  458200
2019-08-01   14000.0   245400  22200  725500  74600  48100   59700  859600
2019-08-02   65500.0   271200  18200  700300  45000  37300    8000  776300
2019-08-05  133400.0   370800  15500  405900  19400  28400   15900  837100
2019-08-06   26500.0  1042200   6300  501200  14300  46500    1500  493000
...              ...      ...    ...     ...    ...    ...     ...     ...
2021-08-24   45800.0   414700  12700  706000  34100   9900    6200  554300
2021-08-25   59000.0   234000   5300  538700   4300  19500    3100  758100
2021-08-26   42400.0   242800  16800  697700  10900  14400    6800  761500
2021-08-27   43200.0   223000   5600  515200   5800  17300   11300  801100
2021-08-30  586200.0   268000   5500  689500   2900  18100  188000  839800


               TRYP      XLC
Date
2019-07-31      NaN  2090800
2019-08-01      NaN  4095700
2019-08-02      NaN  4656200
2019-08-05      NaN  6247900
2019-08-06      NaN  6548200
...             ...      ...
2021-08-24  25300.0  3132700
2021-08-25  14800.0  3835100
2021-08-26  16200.0  3279800
2021-08-27  15700.0  3437200
2021-08-30  15600.0  2734700

[526 rows x 66 columns]

In [35]:
data['Adj Close']

,FTXG,IBUY,IXN,IYK,MJ,PBS,PJP,RTH,SOXX,TRYP,XLC
Date,,,,,,,,,,,
2019-07-31,20.082952,50.484791,30.070786,119.924416,25.697624,34.031681,56.404629,108.401299,204.950607,NaN,49.943722
2019-08-01,20.374716,49.986225,29.956072,118.680420,24.727552,33.744621,56.699383,107.042473,200.902039,NaN,49.707672
2019-08-02,20.034323,49.258320,29.416929,118.285049,25.926413,33.507050,56.699383,106.382751,197.938995,NaN,49.225742
2019-08-05,19.791191,47.742680,28.296034,115.122025,25.166832,32.319206,55.441795,103.606018,189.392044,NaN,47.632423
2019-08-06,19.674484,48.350929,28.717192,116.520317,25.844048,32.635975,55.687416,104.610367,191.807480,NaN,48.320896
...,...,...,...,...,...,...,...,...,...,...,...
2021-08-24,24.715000,116.470001,59.549999,185.729996,16.830000,52.990002,82.190002,180.369995,458.279999,4.735,84.000000
2021-08-25,24.670000,116.480003,59.480000,185.940002,16.639999,53.130001,81.800003,180.839996,461.769989,4.780,84.129997
2021-08-26,24.406000,115.339996,59.209999,184.149994,16.350000,52.619999,81.029999,179.039993,462.200012,4.750,83.400002
2021-08-27,24.700001,115.919998,59.810001,185.639999,16.620001,53.750000,81.360001,179.380005,471.019989,4.822,84.720001
2021-08-30,24.459999,116.620003,60.380001,186.600006,16.330000,53.750000,81.980003,180.929993,471.959991,4.790,85.300003