In [1]:
from requests import get
from bs4 import BeautifulSoup as Soup
import pandas as pd

In [2]:
Name = []
Year = []
Rating = []
Meta_score = []
Votes = []
Genre = []

In [3]:
for n in range (3) :
    url = get('https://www.imdb.com/search/title/?title_type=feature,tv_movie,short&release_date=2020-01-01,2021-09-30&start=' + str(n*50+1) + '&ref_=adv_nxt')
    request = url.text
    soup_data = Soup(request, 'html.parser')
    movies = soup_data.findAll('div', {'class' : 'lister-item mode-advanced'})
    for i in movies:
        Name.append(i.h3.a.text)
        Year.append(i.find('span', {'class' : 'lister-item-year text-muted unbold'}).text[1:5])
        Rating.append(i.find('div', {'class' : 'inline-block ratings-imdb-rating'})['data-value'])
        Genre.append(i.find('span', {'class' : 'genre'}))
        try :
            Meta_score.append(i.find('div', {'class' : 'inline-block ratings-metascore'}).span.text.strip())
        except:
            Meta_score.append(0)
        Votes.append(i.find('span', {'name' : 'nv'})['data-value'])

In [4]:
data = list(zip(Name, Year, Genre, Rating, Meta_score, Votes))

In [5]:
df = pd.DataFrame(data, columns = ['Name', 'Year','Genre', 'Rating', 'Metascore', 'Votes'])

In [6]:
df.head()

,Name,Year,Genre,Rating,Metascore,Votes
0,007 노 타임 투 다이,2021,"[\nAction, Adventure, Thriller ]",7.6,69,80905
1,듄,2021,"[\nAction, Adventure, Drama ]",8.4,75,74036
2,프리 가이,2021,"[\nAction, Adventure, Comedy ]",7.3,62,138600
3,The Many Saints of Newark,2021,"[\nCrime, Drama ]",6.4,60,23591
4,베놈 2: 렛 데어 비 카니지,2021,"[\nAction, Adventure, Sci-Fi ]",6.5,48,18053

In [8]:
len(df)

150