In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"
from pandas_datareader import data
import matplotlib.pyplot as plt
from datetime import datetime

import pandas as pd
import numpy as np

In [3]:
def mean(corp):
    csv = pd.read_csv('./nonescoredate/'+corp+'_scda.csv')
    csv['sent']=(csv['npos']-csv['nneg'])/csv['nwords']
    del csv['Unnamed: 0']
    del csv['nwords']
    del csv['npos']
    del csv['nneg']
    csv.columns=['date','sent']
    csv['date'] = pd.to_datetime(csv['date'])
    csv.fillna(0,inplace=True)
    
    YM=[]
    for i in csv['date']:
        YM.append(str(i)[:7])
    csv['YM'] = YM
    
    csv.groupby(csv['YM']).mean()
#     csv.drop(['2019-07','2021-09'], inplace=True)
    
    return csv.groupby(csv['YM']).mean()#.to_csv('./mean/'+corp+'_mean.csv')

In [4]:
mean('PFIZER')

             sent
YM
2019-08  0.000000
2019-09  0.000000
2019-10  0.017413
2019-11  0.000000
2019-12  0.015534
2020-01  0.000000
2020-02  0.000000
2020-03  0.020000
2020-04  0.000000
2020-05  0.000000
2020-06  0.005353
2020-07 -0.007440
2020-08  0.000000
2020-09  0.011860
2020-10  0.006787
2020-11  0.000963
2020-12  0.022402
2021-01  0.021958
2021-02  0.014848
2021-03  0.015589
2021-04  0.016435
2021-05  0.014797
2021-06  0.025737
2021-07  0.012705
2021-08  0.015824
2021-09  0.000000