In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"
from pandas_datareader import data
import matplotlib.pyplot as plt
from datetime import datetime

import pandas as pd
import numpy as np

In [5]:
def mean(corp):
    csv = pd.read_csv('./nonescoredate/'+corp+'_scda.csv')
    csv['sent']=(csv['npos']-csv['nneg'])/csv['nwords']
    del csv['Unnamed: 0']
    del csv['nwords']
    del csv['npos']
    del csv['nneg']
    csv.columns=['date','sent']
    csv['date'] = pd.to_datetime(csv['date'])
    csv.fillna(0,inplace=True)
    
    YM=[]
    for i in csv['date']:
        YM.append(str(i)[:7])
    csv['YM'] = YM
    
    csv.groupby(csv['YM']).mean()
#     csv.drop(['2019-07','2021-09'], inplace=True)
    
    return csv.groupby(csv['YM']).mean()#.to_csv('./mean/'+corp+'_mean.csv')

In [8]:
mean('ALTRIA')

             sent
YM
2019-07 -0.022181
2019-08 -0.017886
2019-09 -0.022222
2019-10 -0.022305
2019-11  0.000000
2019-12  0.000000
2020-01  0.000000
2020-02  0.002028
2020-03  0.000000
2020-04  0.000000
2020-05  0.000000
2020-06  0.000000
2020-07  0.000000
2020-08  0.009555
2020-09  0.012947
2020-10  0.000000
2020-11 -0.034392
2020-12  0.013257
2021-01  0.004016
2021-02 -0.010986
2021-03 -0.014760
2021-04  0.008540
2021-05 -0.004883
2021-06 -0.009059
2021-07 -0.006709
2021-08  0.010870
2021-09  0.000000