In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import statsmodels.formula.api as smf
%matplotlib inline

In [44]:
import quandl
quandl.ApiConfig.api_key = 'zbUxxzuDxrACyfheY6o9'

In [45]:
stocks = ['MSFT', 'AMD', 'AMZN', 'KO','MCD','MO','NKE','PFE','WMT'] #SPOT, FB, TSLA
benchmarks = ['SPY', 'SHV'] 
data = {} 
for s in stocks + benchmarks:
    data[s] = quandl.get("EOD/"+s)

In [46]:
prc = pd.DataFrame() 

for s in stocks + benchmarks:
    tmp = data[s][['Adj_Close']] 
    tmp.columns = [s]
    prc = pd.concat([prc, tmp], axis=1)
    prc = prc[prc.index.weekday < 5]

In [47]:
prc = prc.dropna()

In [71]:
portfolio = prc[['MSFT', 'AMD', 'AMZN', 'KO','MCD','MO','NKE','PFE','WMT','SPY','SHV']]
portfolio

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT,SPY,SHV
Date,,,,,,,,,,,
2007-01-11,22.563739,20.18,37.40,15.506434,28.991233,9.010811,10.322439,13.740474,34.068079,105.989103,96.523512
2007-01-12,22.938576,18.26,38.20,15.445987,28.802344,8.912035,10.299726,13.833947,34.340051,106.794311,96.576790
2007-01-16,22.901828,18.13,38.66,15.430079,29.030314,8.999724,10.321407,13.901455,34.576237,106.585555,96.559031
2007-01-17,22.857729,18.20,37.88,15.461894,29.219203,8.927154,10.305920,13.963770,34.497508,106.630287,96.612310
2007-01-18,22.784232,17.92,36.98,15.382357,29.043341,8.864663,10.290434,14.109172,34.633494,106.272409,96.603430
...,...,...,...,...,...,...,...,...,...,...,...
2021-09-22,298.580000,104.38,3380.05,54.130000,243.130000,48.240000,157.440000,43.950000,142.690000,437.860000,110.470000
2021-09-23,299.560000,106.15,3416.00,54.040000,244.780000,48.810000,159.580000,44.190000,142.770000,443.180000,110.470000
2021-09-24,299.350000,105.80,3425.52,53.890000,246.420000,48.460000,149.590000,43.940000,143.170000,443.910000,110.460000
2021-09-27,294.170000,108.16,3405.80,53.610000,248.110000,48.740000,148.040000,43.570000,142.250000,442.640000,110.460000
2021-09-28,283.520000,101.52,3315.96,52.640000,243.770000,48.270000,145.300000,43.040000,140.500000,433.720000,110.460000

In [76]:
 portfolio = prc[['MSFT', 'AMD', 'AMZN', 'KO','MCD','MO','NKE','PFE','WMT','SPY','SHV']].pct_change()
portfolio

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT,SPY,SHV
Date,,,,,,,,,,,
2007-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-12,0.016612,-0.095144,0.021390,-0.003898,-0.006515,-0.010962,-0.002200,0.006803,0.007983,0.007597,0.000552
2007-01-16,-0.001602,-0.007119,0.012042,-0.001030,0.007915,0.009839,0.002105,0.004880,0.006878,-0.001955,-0.000184
2007-01-17,-0.001926,0.003861,-0.020176,0.002062,0.006507,-0.008064,-0.001500,0.004483,-0.002277,0.000420,0.000552
2007-01-18,-0.003215,-0.015385,-0.023759,-0.005144,-0.006019,-0.007000,-0.001503,0.010413,0.003942,-0.003356,-0.000092
...,...,...,...,...,...,...,...,...,...,...,...
2021-09-22,0.012822,0.015172,0.010892,0.001480,0.010936,0.004372,0.015611,0.000683,-0.002307,0.009755,0.000000
2021-09-23,0.003282,0.016957,0.010636,-0.001663,0.006786,0.011816,0.013592,0.005461,0.000561,0.012150,0.000000
2021-09-24,-0.000701,-0.003297,0.002787,-0.002776,0.006700,-0.007171,-0.062602,-0.005657,0.002802,0.001647,-0.000091
2021-09-27,-0.017304,0.022306,-0.005757,-0.005196,0.006858,0.005778,-0.010362,-0.008421,-0.006426,-0.002861,0.000000
2021-09-28,-0.036204,-0.061391,-0.026379,-0.018094,-0.017492,-0.009643,-0.018509,-0.012164,-0.012302,-0.020152,0.000000

In [78]:
portfolio['SPY'].to_csv('./SPY.csv')
portfolio['SHV'].to_csv('./SHV.csv')

In [50]:
portfolio_data = 1 +  portfolio
portfolio_data

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT
Date,,,,,,,,,
2007-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983
2007-01-16,0.998398,0.992881,1.012042,0.998970,1.007915,1.009839,1.002105,1.004880,1.006878
2007-01-17,0.998074,1.003861,0.979824,1.002062,1.006507,0.991936,0.998500,1.004483,0.997723
2007-01-18,0.996785,0.984615,0.976241,0.994856,0.993981,0.993000,0.998497,1.010413,1.003942
...,...,...,...,...,...,...,...,...,...
2021-09-22,1.012822,1.015172,1.010892,1.001480,1.010936,1.004372,1.015611,1.000683,0.997693
2021-09-23,1.003282,1.016957,1.010636,0.998337,1.006786,1.011816,1.013592,1.005461,1.000561
2021-09-24,0.999299,0.996703,1.002787,0.997224,1.006700,0.992829,0.937398,0.994343,1.002802
2021-09-27,0.982696,1.022306,0.994243,0.994804,1.006858,1.005778,0.989638,0.991579,0.993574
2021-09-28,0.963796,0.938609,0.973621,0.981906,0.982508,0.990357,0.981491,0.987836,0.987698

In [51]:
portfolio_data.loc[pd.to_datetime("2007-01-11")] = 1 
portfolio_data = portfolio_data.sort_index() 
portfolio_data

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT
Date,,,,,,,,,
2007-01-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983
2007-01-16,0.998398,0.992881,1.012042,0.998970,1.007915,1.009839,1.002105,1.004880,1.006878
2007-01-17,0.998074,1.003861,0.979824,1.002062,1.006507,0.991936,0.998500,1.004483,0.997723
2007-01-18,0.996785,0.984615,0.976241,0.994856,0.993981,0.993000,0.998497,1.010413,1.003942
...,...,...,...,...,...,...,...,...,...
2021-09-22,1.012822,1.015172,1.010892,1.001480,1.010936,1.004372,1.015611,1.000683,0.997693
2021-09-23,1.003282,1.016957,1.010636,0.998337,1.006786,1.011816,1.013592,1.005461,1.000561
2021-09-24,0.999299,0.996703,1.002787,0.997224,1.006700,0.992829,0.937398,0.994343,1.002802
2021-09-27,0.982696,1.022306,0.994243,0.994804,1.006858,1.005778,0.989638,0.991579,0.993574
2021-09-28,0.963796,0.938609,0.973621,0.981906,0.982508,0.990357,0.981491,0.987836,0.987698

In [52]:
portfolio_data = portfolio_data.cumprod() 
portfolio_data

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT
Date,,,,,,,,,
2007-01-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983
2007-01-16,1.014984,0.898414,1.033690,0.995076,1.001348,0.998770,0.999900,1.011716,1.014916
2007-01-17,1.013029,0.901883,1.012834,0.997128,1.007863,0.990716,0.998400,1.016251,1.012605
2007-01-18,1.009772,0.888008,0.988770,0.991998,1.001797,0.983781,0.996899,1.026833,1.016597
...,...,...,...,...,...,...,...,...,...
2021-09-22,13.232736,5.172448,90.375668,3.490809,8.386328,5.353569,15.252209,3.198580,4.188378
2021-09-23,13.276168,5.260159,91.336898,3.485005,8.443242,5.416826,15.459524,3.216046,4.190727
2021-09-24,13.266862,5.242815,91.591444,3.475332,8.499811,5.377984,14.491729,3.197852,4.202468
2021-09-27,13.037290,5.359762,91.064171,3.457275,8.558104,5.409058,14.341571,3.170924,4.175463
2021-09-28,12.565293,5.030723,88.662032,3.394720,8.408404,5.356898,14.076130,3.132352,4.124095

In [53]:
portfolio_data['portfolio_value'] = portfolio_data.sum(axis=1) 
portfolio_data

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT,portfolio_value
Date,,,,,,,,,,
2007-01-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983,8.934069
2007-01-16,1.014984,0.898414,1.033690,0.995076,1.001348,0.998770,0.999900,1.011716,1.014916,8.968813
2007-01-17,1.013029,0.901883,1.012834,0.997128,1.007863,0.990716,0.998400,1.016251,1.012605,8.950709
2007-01-18,1.009772,0.888008,0.988770,0.991998,1.001797,0.983781,0.996899,1.026833,1.016597,8.904455
...,...,...,...,...,...,...,...,...,...,...
2021-09-22,13.232736,5.172448,90.375668,3.490809,8.386328,5.353569,15.252209,3.198580,4.188378,148.650725
2021-09-23,13.276168,5.260159,91.336898,3.485005,8.443242,5.416826,15.459524,3.216046,4.190727,150.084595
2021-09-24,13.266862,5.242815,91.591444,3.475332,8.499811,5.377984,14.491729,3.197852,4.202468,149.346295
2021-09-27,13.037290,5.359762,91.064171,3.457275,8.558104,5.409058,14.341571,3.170924,4.175463,148.573618
2021-09-28,12.565293,5.030723,88.662032,3.394720,8.408404,5.356898,14.076130,3.132352,4.124095,144.750648

In [54]:
portfolio_data['portfolio_return'] = portfolio_data['portfolio_value'].pct_change()
portfolio_data

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT,portfolio_value,portfolio_return
Date,,,,,,,,,,,
2007-01-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,NaN
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983,8.934069,-0.007326
2007-01-16,1.014984,0.898414,1.033690,0.995076,1.001348,0.998770,0.999900,1.011716,1.014916,8.968813,0.003889
2007-01-17,1.013029,0.901883,1.012834,0.997128,1.007863,0.990716,0.998400,1.016251,1.012605,8.950709,-0.002019
2007-01-18,1.009772,0.888008,0.988770,0.991998,1.001797,0.983781,0.996899,1.026833,1.016597,8.904455,-0.005168
...,...,...,...,...,...,...,...,...,...,...,...
2021-09-22,13.232736,5.172448,90.375668,3.490809,8.386328,5.353569,15.252209,3.198580,4.188378,148.650725,0.010638
2021-09-23,13.276168,5.260159,91.336898,3.485005,8.443242,5.416826,15.459524,3.216046,4.190727,150.084595,0.009646
2021-09-24,13.266862,5.242815,91.591444,3.475332,8.499811,5.377984,14.491729,3.197852,4.202468,149.346295,-0.004919
2021-09-27,13.037290,5.359762,91.064171,3.457275,8.558104,5.409058,14.341571,3.170924,4.175463,148.573618,-0.005174
2021-09-28,12.565293,5.030723,88.662032,3.394720,8.408404,5.356898,14.076130,3.132352,4.124095,144.750648,-0.025731

In [55]:
portfolio_data['lag_portfolio_return'] = portfolio_data['portfolio_return'].shift()
portfolio_data

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT,portfolio_value,portfolio_return,lag_portfolio_return
Date,,,,,,,,,,,,
2007-01-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,NaN,NaN
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983,8.934069,-0.007326,NaN
2007-01-16,1.014984,0.898414,1.033690,0.995076,1.001348,0.998770,0.999900,1.011716,1.014916,8.968813,0.003889,-0.007326
2007-01-17,1.013029,0.901883,1.012834,0.997128,1.007863,0.990716,0.998400,1.016251,1.012605,8.950709,-0.002019,0.003889
2007-01-18,1.009772,0.888008,0.988770,0.991998,1.001797,0.983781,0.996899,1.026833,1.016597,8.904455,-0.005168,-0.002019
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-22,13.232736,5.172448,90.375668,3.490809,8.386328,5.353569,15.252209,3.198580,4.188378,148.650725,0.010638,-0.000952
2021-09-23,13.276168,5.260159,91.336898,3.485005,8.443242,5.416826,15.459524,3.216046,4.190727,150.084595,0.009646,0.010638
2021-09-24,13.266862,5.242815,91.591444,3.475332,8.499811,5.377984,14.491729,3.197852,4.202468,149.346295,-0.004919,0.009646
2021-09-27,13.037290,5.359762,91.064171,3.457275,8.558104,5.409058,14.341571,3.170924,4.175463,148.573618,-0.005174,-0.004919
2021-09-28,12.565293,5.030723,88.662032,3.394720,8.408404,5.356898,14.076130,3.132352,4.124095,144.750648,-0.025731,-0.005174

In [56]:
SPY = quandl.get("EOD/SPY")['Adj_Close'].pct_change()
SHV = quandl.get("EOD/SHV")['Adj_Close'].pct_change()

In [57]:
portfolio_data['SHV'] = SHV
portfolio_data['SPY'] = SPY
portfolio_data['EXMKT'] = portfolio_data['SPY']-portfolio_data['SHV']
portfolio_data.head()

,MSFT,AMD,AMZN,KO,MCD,MO,NKE,PFE,WMT,portfolio_value,portfolio_return,lag_portfolio_return,SHV,SPY,EXMKT
Date,,,,,,,,,,,,,,,
2007-01-11,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,NaN,NaN,NaN,0.004380,NaN
2007-01-12,1.016612,0.904856,1.021390,0.996102,0.993485,0.989038,0.997800,1.006803,1.007983,8.934069,-0.007326,NaN,0.000552,0.007597,0.007045
2007-01-16,1.014984,0.898414,1.033690,0.995076,1.001348,0.998770,0.999900,1.011716,1.014916,8.968813,0.003889,-0.007326,-0.000184,-0.001955,-0.001771
2007-01-17,1.013029,0.901883,1.012834,0.997128,1.007863,0.990716,0.998400,1.016251,1.012605,8.950709,-0.002019,0.003889,0.000552,0.000420,-0.000132
2007-01-18,1.009772,0.888008,0.988770,0.991998,1.001797,0.983781,0.996899,1.026833,1.016597,8.904455,-0.005168,-0.002019,-0.000092,-0.003356,-0.003264

In [58]:
PD = portfolio_data.dropna()

In [59]:
PD['constant'] = 1

<ipython-input-59-17f74caf2368>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PD['constant'] = 1

In [60]:
import statsmodels.api as sm

In [61]:
reg = sm.OLS(PD['portfolio_return'], PD[['constant','lag_portfolio_return','EXMKT']]).fit()

In [62]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       portfolio_return   R-squared:                       0.645
Model:                            OLS   Adj. R-squared:                  0.645
Method:                 Least Squares   F-statistic:                     3368.
Date:                Wed, 29 Sep 2021   Prob (F-statistic):               0.00
Time:                        17:07:07   Log-Likelihood:                 12690.
No. Observations:                3703   AIC:                        -2.537e+04
Df Residuals:                    3700   BIC:                        -2.536e+04
Df Model:                           2
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
constant                 0.0005      0.000      3.844      0.000       0.000       0.001
lag_portfolio_return    -0.0099      0.010     -1.010      0.313      -0.029       0.009
EXMKT                    0.8243      0.010     81.576      0.000       0.805       0.844
==============================================================================
Omnibus:                      758.832   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10082.173
Skew:                           0.589   Prob(JB):                         0.00
Kurtosis:                      10.997   Cond. No.                         81.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""