In [30]:
import pandas as pd

In [180]:
# csv 파일로부터 2017년에 필요한 columns 만 저장
age_data_2017 = pd.read_csv('201712_202012_연령별인구현황_연간.csv',
                         encoding="euc-kr",
                            thousands=',', # 천 단위 구분 기호 정수형태로 부르기
                            usecols=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] )

In [181]:
age_data_2017.head()

,행정구역,2017년_계_총인구수,2017년_계_0~9세,2017년_계_10~19세,2017년_계_20~29세,2017년_계_30~39세,2017년_계_40~49세,2017년_계_50~59세,2017년_계_60~69세,2017년_계_70~79세,2017년_계_80~89세,2017년_계_90~99세,2017년_계_100세 이상
0,서울특별시 (1100000000),9857426,728462,894656,1447115,1579189,1647989,1553543,1109052,635309,223113,33479,5519
1,서울특별시 종로구 (1111000000),154770,9003,12978,23907,21433,25072,25857,18058,12439,4922,875,226
2,서울특별시 중구 (1114000000),125709,7927,8129,18102,20395,19801,21022,15745,9832,3924,666,166
3,서울특별시 용산구 (1117000000),229161,15310,18008,31993,38016,38441,35846,25834,16875,7264,1262,312
4,서울특별시 성동구 (1120000000),304808,23437,23854,45940,52396,50183,48614,32557,19691,6994,927,215

In [182]:
# columns 명 간단하게 변경

age_data_2017.rename(columns={age_data_2017.columns[1]:'총인구수',
                              age_data_2017.columns[2]:'0~9세',
                              age_data_2017.columns[3]:'10~19세',
                              age_data_2017.columns[4]:'20~29세',
                              age_data_2017.columns[5]:'30~39세',
                              age_data_2017.columns[6]:'40~49세',
                              age_data_2017.columns[7]:'50~59세',
                              age_data_2017.columns[8]:'60~69세',
                              age_data_2017.columns[9]:'70~79세',
                              age_data_2017.columns[10]:'80~89세',
                              age_data_2017.columns[11]:'90~99세',
                              age_data_2017.columns[12]:'100세 이상',
                             }, inplace=True)


# age_data_2017.head()

# age_data_2017.astype("float32")

In [183]:
junior = [] # 0~19세
adult = [] # 20~59세
elders = [] # 60세 이상

In [184]:
age_data_2017.tail()

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
21,서울특별시 관악구 (1162000000),503297,29533,34365,99790,92554,75338,70941,55604,33696,9854,1349,273
22,서울특별시 서초구 (1165000000),441102,39403,47997,58467,71530,81817,62623,44999,24314,8225,1546,181
23,서울특별시 강남구 (1168000000),556164,41417,62953,79392,91645,102093,80983,56426,29235,9861,1925,234
24,서울특별시 송파구 (1171000000),664496,55365,65479,94047,114303,112352,103096,72500,33408,11688,2032,226
25,서울특별시 강동구 (1174000000),436223,33868,41265,59853,69687,71523,72801,52428,24627,8536,1429,206

In [185]:
# 미성년자, 성인, 노인별로 데이터 변환

for i in range(len(age_data_2017)) :
    junior.append(age_data_2017["0~9세"][i] + age_data_2017["10~19세"][i])
    adult.append(age_data_2017["20~29세"][i] +
                age_data_2017["30~39세"][i] +
                age_data_2017["40~49세"][i] +
                age_data_2017["50~59세"][i])
    elders.append(age_data_2017["60~69세"][i] +
                 age_data_2017["70~79세"][i] +
                 age_data_2017["80~89세"][i] +
                 age_data_2017["90~99세"][i] +
                 age_data_2017["100세 이상"][i])

In [186]:
# 데이터 확인
print(junior)
print(adult)
print(elders)

len(junior),len(adult),len(elders)

[1623118, 21981, 16056, 33318, 47291, 55087, 51608, 60572, 75354, 47267, 55198, 105227, 80354, 48677, 60716, 94124, 100950, 67981, 33715, 55009, 60988, 63898, 87400, 104370, 120844, 75133]
[6227836, 96269, 79320, 144296, 197133, 236733, 219036, 258733, 273874, 197084, 209863, 339564, 299258, 195242, 244013, 292331, 384787, 255867, 150839, 236022, 252737, 338623, 274437, 354113, 423798, 273864]
[2006472, 36520, 30333, 51547, 60384, 65883, 80003, 88921, 94827, 80128, 79105, 109612, 107182, 68881, 70186, 84699, 115954, 86894, 50600, 77519, 82492, 100776, 79265, 97681, 119854, 87226]

(26, 26, 26)