In [2]:
import pandas as pd

In [3]:
age_data = pd.read_csv('201712_202012_연령별인구현황_연간.csv',encoding="euc-kr")

In [16]:
age_data.columns

Index(['행정구역', '2017년_계_총인구수', '2017년_계_연령구간인구수', '2017년_계_0~9세',
       '2017년_계_10~19세', '2017년_계_20~29세', '2017년_계_30~39세', '2017년_계_40~49세',
       '2017년_계_50~59세', '2017년_계_60~69세',
       ...
       '2020년_여_10~19세', '2020년_여_20~29세', '2020년_여_30~39세', '2020년_여_40~49세',
       '2020년_여_50~59세', '2020년_여_60~69세', '2020년_여_70~79세', '2020년_여_80~89세',
       '2020년_여_90~99세', '2020년_여_100세 이상'],
      dtype='object', length=157)

In [18]:
for age_column in age_data.columns :
    print(age_column)

행정구역
2017년_계_총인구수
2017년_계_연령구간인구수
2017년_계_0~9세
2017년_계_10~19세
2017년_계_20~29세
2017년_계_30~39세
2017년_계_40~49세
2017년_계_50~59세
2017년_계_60~69세
2017년_계_70~79세
2017년_계_80~89세
2017년_계_90~99세
2017년_계_100세 이상
2017년_남_총인구수
2017년_남_연령구간인구수
2017년_남_0~9세
2017년_남_10~19세
2017년_남_20~29세
2017년_남_30~39세
2017년_남_40~49세
2017년_남_50~59세
2017년_남_60~69세
2017년_남_70~79세
2017년_남_80~89세
2017년_남_90~99세
2017년_남_100세 이상
2017년_여_총인구수
2017년_여_연령구간인구수
2017년_여_0~9세
2017년_여_10~19세
2017년_여_20~29세
2017년_여_30~39세
2017년_여_40~49세
2017년_여_50~59세
2017년_여_60~69세
2017년_여_70~79세
2017년_여_80~89세
2017년_여_90~99세
2017년_여_100세 이상
2018년_계_총인구수
2018년_계_연령구간인구수
2018년_계_0~9세
2018년_계_10~19세
2018년_계_20~29세
2018년_계_30~39세
2018년_계_40~49세
2018년_계_50~59세
2018년_계_60~69세
2018년_계_70~79세
2018년_계_80~89세
2018년_계_90~99세
2018년_계_100세 이상
2018년_남_총인구수
2018년_남_연령구간인구수
2018년_남_0~9세
2018년_남_10~19세
2018년_남_20~29세
2018년_남_30~39세
2018년_남_40~49세
2018년_남_50~59세
2018년_남_60~69세
2018년_남_70~79세
2018년_남_80~89세
2018년_남_90~99세
2018년_남_100세 이상
2018년_여_총인구수
2018년_여_연령구간인구수
2018년_여_0~9세
2018년_여_10~19세
2018년_여_20~29세
2018년_여_30~39세
2018년_여_40~49세
2018년_여_50~59세
2018년_여_60~69세
2018년_여_70~79세
2018년_여_80~89세
2018년_여_90~99세
2018년_여_100세 이상
2019년_계_총인구수
2019년_계_연령구간인구수
2019년_계_0~9세
2019년_계_10~19세
2019년_계_20~29세
2019년_계_30~39세
2019년_계_40~49세
2019년_계_50~59세
2019년_계_60~69세
2019년_계_70~79세
2019년_계_80~89세
2019년_계_90~99세
2019년_계_100세 이상
2019년_남_총인구수
2019년_남_연령구간인구수
2019년_남_0~9세
2019년_남_10~19세
2019년_남_20~29세
2019년_남_30~39세
2019년_남_40~49세
2019년_남_50~59세
2019년_남_60~69세
2019년_남_70~79세
2019년_남_80~89세
2019년_남_90~99세
2019년_남_100세 이상
2019년_여_총인구수
2019년_여_연령구간인구수
2019년_여_0~9세
2019년_여_10~19세
2019년_여_20~29세
2019년_여_30~39세
2019년_여_40~49세
2019년_여_50~59세
2019년_여_60~69세
2019년_여_70~79세
2019년_여_80~89세
2019년_여_90~99세
2019년_여_100세 이상
2020년_계_총인구수
2020년_계_연령구간인구수
2020년_계_0~9세
2020년_계_10~19세
2020년_계_20~29세
2020년_계_30~39세
2020년_계_40~49세
2020년_계_50~59세
2020년_계_60~69세
2020년_계_70~79세
2020년_계_80~89세
2020년_계_90~99세
2020년_계_100세 이상
2020년_남_총인구수
2020년_남_연령구간인구수
2020년_남_0~9세
2020년_남_10~19세
2020년_남_20~29세
2020년_남_30~39세
2020년_남_40~49세
2020년_남_50~59세
2020년_남_60~69세
2020년_남_70~79세
2020년_남_80~89세
2020년_남_90~99세
2020년_남_100세 이상
2020년_여_총인구수
2020년_여_연령구간인구수
2020년_여_0~9세
2020년_여_10~19세
2020년_여_20~29세
2020년_여_30~39세
2020년_여_40~49세
2020년_여_50~59세
2020년_여_60~69세
2020년_여_70~79세
2020년_여_80~89세
2020년_여_90~99세
2020년_여_100세 이상

In [19]:
age_data.head()

,행정구역,2017년_계_총인구수,2017년_계_연령구간인구수,2017년_계_0~9세,2017년_계_10~19세,2017년_계_20~29세,2017년_계_30~39세,2017년_계_40~49세,2017년_계_50~59세,2017년_계_60~69세,...,2020년_여_10~19세,2020년_여_20~29세,2020년_여_30~39세,2020년_여_40~49세,2020년_여_50~59세,2020년_여_60~69세,2020년_여_70~79세,2020년_여_80~89세,2020년_여_90~99세,2020년_여_100세 이상
0,서울특별시 (1100000000),"9,857,426","9,857,426","728,462","894,656","1,447,115","1,579,189","1,647,989","1,553,543","1,109,052",...,"380,581","752,742","737,205","771,232","774,974","656,660","383,660","169,755","31,462","5,001"
1,서울특별시 종로구 (1111000000),"154,770","154,770","9,003","12,978","23,907","21,433","25,072","25,857","18,058",...,"5,518","11,911","10,033","11,397","12,675","10,045","6,982","3,563",722,179
2,서울특별시 중구 (1114000000),"125,709","125,709","7,927","8,129","18,102","20,395","19,801","21,022","15,745",...,"3,365","9,735","10,080","8,789","10,194","8,837","5,894","3,036",617,140
3,서울특별시 용산구 (1117000000),"229,161","229,161","15,310","18,008","31,993","38,016","38,441","35,846","25,834",...,"7,677","17,560","19,037","18,169","18,726","15,080","9,802","5,353","1,124",264
4,서울특별시 성동구 (1120000000),"304,808","304,808","23,437","23,854","45,940","52,396","50,183","48,614","32,557",...,"9,924","22,772","24,873","22,445","23,666","18,725","11,416","5,335",854,179