In [1]:
# 관련 모듈 import 하기
import pandas as pd
import numpy as np

In [2]:
# 콘솔에서 모든 출력 허용하기
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [3]:
crime_data_17 = pd.read_csv("./data/서울시_5대_범죄_발생건수(2017)_최종.csv",thousands = ',') 
crime_data_18 = pd.read_csv("./data/서울시_5대_범죄_발생건수(2018)_최종.csv",thousands = ',')
crime_data_19 = pd.read_csv("./data/서울시_5대_범죄_발생건수(2019)_최종.csv",thousands = ',')

In [4]:
population_data_17 = pd.read_csv("./data/2017년_연령별_인구현황.csv",thousands = ',') 
population_data_18 = pd.read_csv("./data/2018년_연령별_인구현황.csv",thousands = ',')
population_data_19 = pd.read_csv("./data/2019년_연령별_인구현황.csv",thousands = ',')

In [5]:
crime_data_17.head(3)
population_data_17.head(3)

     기간  자치구  범죄_발생_합계
0  2017  강남구      7720
1  2017  강동구      4261
2  2017  강북구      3393

     기간 행정구역    미성년자      성인     노인    총인구수  미성년자_비율  성인_비율  노인_비율
0  2017  강남구  104370  354113  97681  556164    18.77  63.67  17.56
1  2017  강동구   75133  273864  87226  436223    17.22  62.78  20.00
2  2017  강북구   47267  197084  80128  324479    14.57  60.74  24.69

In [6]:
crime_data_17["10만명 당 범죄 발생 건수"] = crime_data_17["범죄_발생_합계"] / population_data_17["총인구수"] * 100000
crime_data_18["10만명 당 범죄 발생 건수"] = crime_data_17["범죄_발생_합계"] / population_data_18["총인구수"] * 100000
crime_data_19["10만명 당 범죄 발생 건수"] = crime_data_17["범죄_발생_합계"] / population_data_19["총인구수"] * 100000

In [7]:
crime_data_17.head()
crime_data_18.head()
crime_data_19.head()

     기간  자치구  범죄_발생_합계  10만명 당 범죄 발생 건수
0  2017  강남구      7720      1388.079775
1  2017  강동구      4261       976.793979
2  2017  강북구      3393      1045.676300
3  2017  강서구      5135       853.428089
4  2017  관악구      5525      1097.761362

     기간  자치구  범죄_발생_합계  10만명 당 범죄 발생 건수
0  2018  강남구      7513      1423.398308
1  2018  강동구      3919       996.554974
2  2018  강북구      3437      1063.089822
3  2018  강서구      4629       860.207488
4  2018  관악구      5026      1100.691892

     기간  자치구  범죄_발생_합계  10만명 당 범죄 발생 건수
0  2019  강남구      7304      1416.074648
1  2019  강동구      4014       977.143421
2  2019  강북구      3838      1080.731572
3  2019  강서구      4924       867.697653
4  2019  관악구      5328      1104.792299

In [8]:
# crime_data_17.to_csv("./fin_data/서울시_5대_범죄_발생건수(2017)_10만명당_추가_최종.csv", index = False)
# crime_data_18.to_csv("./fin_data/서울시_5대_범죄_발생건수(2018)_10만명당_추가_최종.csv", index = False)
# crime_data_19.to_csv("./fin_data/서울시_5대_범죄_발생건수(2019)_10만명당_추가_최종.csv", index = False)

In [9]:
hospital_data_17 = pd.read_csv("./data/서울시_의료기관_구_별_합계(2017)_최종_종합병원_수_포함.csv",thousands = ',') 
hospital_data_18 = pd.read_csv("./data/서울시_의료기관_구_별_합계(2018)_최종_종합병원_수_포함.csv",thousands = ',') 
hospital_data_19 = pd.read_csv("./data/서울시_의료기관_구_별_합계(2019)_최종_종합병원_수_포함.csv",thousands = ',') 
hospital_data_20 = pd.read_csv("./data/서울시_의료기관_구_별_합계(2020)_최종_종합병원_수_포함.csv",thousands = ',')

In [10]:
hospital_data_17.head(3)
hospital_data_18.head(3)
hospital_data_19.head(3)
hospital_data_20.head(3)

     기간  자치구  의료기관_총_합계  종합병원
0  2017  강남구       2559     4
1  2017  강동구        761     3
2  2017  강북구        447     1

     기간  자치구  의료기관_총_합계  종합병원
0  2018  강남구       2594     4
1  2018  강동구        771     3
2  2018  강북구        450     1

     기간  자치구  의료기관_총_합계  종합병원
0  2019  강남구       2643     4
1  2019  강동구        789     3
2  2019  강북구        461     1

     기간  자치구  의료기관_총_합계  종합병원
0  2020  강남구       2693     3
1  2020  강동구        823     3
2  2020  강북구        466     1

In [11]:
hospital_data_17["10만명 당 의료기관 수"] = hospital_data_17["의료기관_총_합계"] / population_data_17["총인구수"] * 100000 # 10만 명당
hospital_data_18["10만명 당 의료기관 수"] = hospital_data_18["의료기관_총_합계"] / population_data_18["총인구수"] * 100000
hospital_data_19["10만명 당 의료기관 수"] = hospital_data_19["의료기관_총_합계"] / population_data_19["총인구수"] * 100000
hospital_data_20["10만명 당 의료기관 수"] = hospital_data_20["의료기관_총_합계"] / population_data_19["총인구수"] * 100000

In [12]:
hospital_data_17["10만명 당 종합병원 수"] = hospital_data_17["종합병원"] / population_data_17["총인구수"] * 100000 # 10만 명당
hospital_data_18["10만명 당 종합병원 수"] = hospital_data_18["종합병원"] / population_data_18["총인구수"] * 100000
hospital_data_19["10만명 당 종합병원 수"] = hospital_data_19["종합병원"] / population_data_19["총인구수"] * 100000
hospital_data_20["10만명 당 종합병원 수"] = hospital_data_20["종합병원"] / population_data_19["총인구수"] * 100000

In [13]:
hospital_data_17.head(2)
hospital_data_18.head(2)
hospital_data_19.head(2)
hospital_data_20.head(2)

     기간  자치구  의료기관_총_합계  종합병원  10만명 당 의료기관 수  10만명 당 종합병원 수
0  2017  강남구       2559     4     460.116081       0.719212
1  2017  강동구        761     3     174.452058       0.687722

     기간  자치구  의료기관_총_합계  종합병원  10만명 당 의료기관 수  10만명 당 종합병원 수
0  2018  강남구       2594     4     478.276582       0.737512
1  2018  강동구        771     3     180.320086       0.701635

     기간  자치구  의료기관_총_합계  종합병원  10만명 당 의료기관 수  10만명 당 종합병원 수
0  2019  강남구       2643     4     484.803795       0.733717
1  2019  강동구        789     3     180.935498       0.687968

     기간  자치구  의료기관_총_합계  종합병원  10만명 당 의료기관 수  10만명 당 종합병원 수
0  2020  강남구       2693     3     493.975263       0.550288
1  2020  강동구        823     3     188.732465       0.687968

### 각 구별 10만명 당 의료기관 수, 종합병원 수, 범죄 건수 추가해서 csv 파일 생성!

In [14]:
crime_data_17.to_csv("./fin_data/서울시_5대_범죄_발생건수(2017)_10만명당_추가_최종.csv", index = False)
crime_data_18.to_csv("./fin_data/서울시_5대_범죄_발생건수(2018)_10만명당_추가_최종.csv", index = False)
crime_data_19.to_csv("./fin_data/서울시_5대_범죄_발생건수(2019)_10만명당_추가_최종.csv", index = False)

In [15]:
hospital_data_17.to_csv("./fin_data/서울시_의료기관_구_별_합계(2017)_10만명당_추가_최종.csv", index = False)
hospital_data_18.to_csv("./fin_data/서울시_의료기관_구_별_합계(2018)_10만명당_추가_최종.csv", index = False)
hospital_data_19.to_csv("./fin_data/서울시_의료기관_구_별_합계(2019)_10만명당_추가_최종.csv", index = False)
hospital_data_20.to_csv("./fin_data/서울시_의료기관_구_별_합계(2020)_10만명당_추가_최종.csv", index = False)