In [49]:
import pandas as pd
import numpy as np

#### 필요한 컬럼
- 2017
    - usecols=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
- 2018
    - usecols=[0, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]
- 2019
    - usecols=[0, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91]
- 2020
    - usecols=[0, 118, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130]

### 불러온 데이터

    data/서울시_고령자현황(구별)통계(2017).csv
    data/201712_202012_연령별인구현황_연간.csv
    ./fin_data/apart2017medv.csv

In [50]:
# csv 파일로부터 2017년에 필요한 columns 만 저장
age_data_2017 = pd.read_csv('.data/201712_202012_연령별인구현황_연간.csv',
                         encoding="euc-kr",
                            thousands=',', # 천 단위 구분 기호 정수형태로 부르기
                            usecols=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] # 필요한 열만 불러오기
                           )

In [51]:
# csv 파일로부터 2018년에 필요한 columns 만 저장
age_data_2018 = pd.read_csv('.data/201712_202012_연령별인구현황_연간.csv',
                         encoding="euc-kr",
                            thousands=',', # 천 단위 구분 기호 정수형태로 부르기
                            usecols=[0, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52] # 필요한 열만 불러오기
                           )

In [52]:
# csv 파일로부터 2019년에 필요한 columns 만 저장
age_data_2019 = pd.read_csv('.data/201712_202012_연령별인구현황_연간.csv',
                         encoding="euc-kr",
                            thousands=',', # 천 단위 구분 기호 정수형태로 부르기
                            usecols=[0, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91] # 필요한 열만 불러오기
                           )

In [53]:
# csv 파일로부터 2020년에 필요한 columns 만 저장
age_data_2020 = pd.read_csv('.data/201712_202012_연령별인구현황_연간.csv',
                         encoding="euc-kr",
                            thousands=',', # 천 단위 구분 기호 정수형태로 부르기
                            usecols=[0, 118, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130] # 필요한 열만 불러오기
                           )

In [54]:
# age_data_2017.head()
# age_data_2018.head(1)
# age_data_2019.head(1)
age_data_2020.head(1)

,행정구역,2020년_계_총인구수,2020년_계_0~9세,2020년_계_10~19세,2020년_계_20~29세,2020년_계_30~39세,2020년_계_40~49세,2020년_계_50~59세,2020년_계_60~69세,2020년_계_70~79세,2020년_계_80~89세,2020년_계_90~99세,2020년_계_100세 이상
0,서울특별시 (1100000000),9668465,623745,781866,1460411,1475106,1528182,1523556,1243954,704076,278094,42683,6792

In [55]:
# 2017년 데이터 columns 명 간단하게 변경

age_data_2017.rename(columns={age_data_2017.columns[1]:'총인구수',
                              age_data_2017.columns[2]:'0~9세',
                              age_data_2017.columns[3]:'10~19세',
                              age_data_2017.columns[4]:'20~29세',
                              age_data_2017.columns[5]:'30~39세',
                              age_data_2017.columns[6]:'40~49세',
                              age_data_2017.columns[7]:'50~59세',
                              age_data_2017.columns[8]:'60~69세',
                              age_data_2017.columns[9]:'70~79세',
                              age_data_2017.columns[10]:'80~89세',
                              age_data_2017.columns[11]:'90~99세',
                              age_data_2017.columns[12]:'100세 이상',
                             }, inplace=True)

In [56]:
# 2018년 데이터 columns 명 간단하게 변경

age_data_2018.rename(columns={age_data_2018.columns[1]:'총인구수',
                              age_data_2018.columns[2]:'0~9세',
                              age_data_2018.columns[3]:'10~19세',
                              age_data_2018.columns[4]:'20~29세',
                              age_data_2018.columns[5]:'30~39세',
                              age_data_2018.columns[6]:'40~49세',
                              age_data_2018.columns[7]:'50~59세',
                              age_data_2018.columns[8]:'60~69세',
                              age_data_2018.columns[9]:'70~79세',
                              age_data_2018.columns[10]:'80~89세',
                              age_data_2018.columns[11]:'90~99세',
                              age_data_2018.columns[12]:'100세 이상',
                             }, inplace=True)

In [57]:
# 2019년 데이터 columns 명 간단하게 변경

age_data_2019.rename(columns={age_data_2019.columns[1]:'총인구수',
                              age_data_2019.columns[2]:'0~9세',
                              age_data_2019.columns[3]:'10~19세',
                              age_data_2019.columns[4]:'20~29세',
                              age_data_2019.columns[5]:'30~39세',
                              age_data_2019.columns[6]:'40~49세',
                              age_data_2019.columns[7]:'50~59세',
                              age_data_2019.columns[8]:'60~69세',
                              age_data_2019.columns[9]:'70~79세',
                              age_data_2019.columns[10]:'80~89세',
                              age_data_2019.columns[11]:'90~99세',
                              age_data_2019.columns[12]:'100세 이상',
                             }, inplace=True)

In [58]:
# 2020년 데이터 columns 명 간단하게 변경

age_data_2020.rename(columns={age_data_2020.columns[1]:'총인구수',
                              age_data_2020.columns[2]:'0~9세',
                              age_data_2020.columns[3]:'10~19세',
                              age_data_2020.columns[4]:'20~29세',
                              age_data_2020.columns[5]:'30~39세',
                              age_data_2020.columns[6]:'40~49세',
                              age_data_2020.columns[7]:'50~59세',
                              age_data_2020.columns[8]:'60~69세',
                              age_data_2020.columns[9]:'70~79세',
                              age_data_2020.columns[10]:'80~89세',
                              age_data_2020.columns[11]:'90~99세',
                              age_data_2020.columns[12]:'100세 이상',
                             }, inplace=True)

In [59]:
junior_2017 = [] # 0~19세
adult_2017 = [] # 20~59세
elders_2017 = [] # 60세 이상

junior_2018 = [] # 0~19세
adult_2018 = [] # 20~59세
elders_2018 = [] # 60세 이상

junior_2019 = [] # 0~19세
adult_2019 = [] # 20~59세
elders_2019 = [] # 60세 이상

junior_2020 = [] # 0~19세
adult_2020 = [] # 20~59세
elders_2020 = [] # 60세 이상

In [60]:
# age_data_2018.tail(1)
# age_data_2017.tail(1)
# age_data_2019.tail(1)
age_data_2020.tail(1)

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
25,서울특별시 강동구 (1174000000),459970,34750,38961,61457,72086,74044,72227,63244,30632,10450,1864,255

In [61]:
# 2017년 데이터 미성년자, 성인, 노인별로 데이터 변환

for i in range(len(age_data_2017)) :
    junior_2017.append(age_data_2017["0~9세"][i] + age_data_2017["10~19세"][i])
    adult_2017.append(age_data_2017["20~29세"][i] +
                age_data_2017["30~39세"][i] +
                age_data_2017["40~49세"][i] +
                age_data_2017["50~59세"][i])
    elders_2017.append(age_data_2017["60~69세"][i] +
                 age_data_2017["70~79세"][i] +
                 age_data_2017["80~89세"][i] +
                 age_data_2017["90~99세"][i] +
                 age_data_2017["100세 이상"][i])

In [62]:
# 2018년 데이터 미성년자, 성인, 노인별로 데이터 변환

for i in range(len(age_data_2018)) :
    junior_2018.append(age_data_2018["0~9세"][i] + age_data_2018["10~19세"][i])
    adult_2018.append(age_data_2018["20~29세"][i] +
                age_data_2018["30~39세"][i] +
                age_data_2018["40~49세"][i] +
                age_data_2018["50~59세"][i])
    elders_2018.append(age_data_2018["60~69세"][i] +
                 age_data_2018["70~79세"][i] +
                 age_data_2018["80~89세"][i] +
                 age_data_2018["90~99세"][i] +
                 age_data_2018["100세 이상"][i])

In [63]:
# 2019년 데이터 미성년자, 성인, 노인별로 데이터 변환

for i in range(len(age_data_2019)) :
    junior_2019.append(age_data_2019["0~9세"][i] + age_data_2019["10~19세"][i])
    adult_2019.append(age_data_2019["20~29세"][i] +
                age_data_2019["30~39세"][i] +
                age_data_2019["40~49세"][i] +
                age_data_2019["50~59세"][i])
    elders_2019.append(age_data_2019["60~69세"][i] +
                 age_data_2019["70~79세"][i] +
                 age_data_2019["80~89세"][i] +
                 age_data_2019["90~99세"][i] +
                 age_data_2019["100세 이상"][i])

In [64]:
# 2020년 데이터 미성년자, 성인, 노인별로 데이터 변환

for i in range(len(age_data_2020)) :
    junior_2020.append(age_data_2020["0~9세"][i] + age_data_2020["10~19세"][i])
    adult_2020.append(age_data_2020["20~29세"][i] +
                age_data_2020["30~39세"][i] +
                age_data_2020["40~49세"][i] +
                age_data_2020["50~59세"][i])
    elders_2020.append(age_data_2020["60~69세"][i] +
                 age_data_2020["70~79세"][i] +
                 age_data_2020["80~89세"][i] +
                 age_data_2020["90~99세"][i] +
                 age_data_2020["100세 이상"][i])

In [65]:
# 데이터 확인
print(junior_2017)
print(adult_2017)
print(elders_2017)

len(junior_2017),len(adult_2017),len(elders_2017)

[1623118, 21981, 16056, 33318, 47291, 55087, 51608, 60572, 75354, 47267, 55198, 105227, 80354, 48677, 60716, 94124, 100950, 67981, 33715, 55009, 60988, 63898, 87400, 104370, 120844, 75133]
[6227836, 96269, 79320, 144296, 197133, 236733, 219036, 258733, 273874, 197084, 209863, 339564, 299258, 195242, 244013, 292331, 384787, 255867, 150839, 236022, 252737, 338623, 274437, 354113, 423798, 273864]
[2006472, 36520, 30333, 51547, 60384, 65883, 80003, 88921, 94827, 80128, 79105, 109612, 107182, 68881, 70186, 84699, 115954, 86894, 50600, 77519, 82492, 100776, 79265, 97681, 119854, 87226]

(26, 26, 26)

In [66]:
print(junior_2018)
print(adult_2018)
print(elders_2018)

len(junior_2018),len(adult_2018),len(elders_2018)

[1545489, 20971, 15290, 31855, 46046, 52416, 49429, 56882, 71409, 44182, 51883, 98591, 76304, 46693, 58694, 89893, 96161, 64017, 31573, 52415, 58343, 59724, 84399, 100207, 117093, 71019]
[6135888, 94589, 79029, 144177, 198936, 234294, 216231, 253211, 267204, 192219, 204372, 330867, 295246, 192629, 244091, 285393, 379490, 249672, 149330, 235240, 251872, 338443, 268430, 342708, 422822, 265393]
[2084246, 37505, 31406, 52967, 63239, 68849, 82392, 93116, 97255, 82763, 83158, 114294, 111647, 70991, 72292, 88899, 121298, 90808, 53014, 80123, 85988, 103790, 81122, 99449, 126720, 91161]

(26, 26, 26)

In [67]:
print(junior_2019)
print(adult_2019)
print(elders_2019)

len(junior_2019),len(adult_2019),len(elders_2019)

[1482264, 19959, 14697, 30523, 43418, 49230, 47342, 53244, 70096, 41080, 48396, 92613, 72390, 45010, 56287, 85739, 91410, 62080, 29551, 50306, 56047, 55797, 81964, 99155, 115307, 70623]
[6067533, 92739, 78582, 143488, 192564, 230054, 213557, 245949, 270693, 186920, 197924, 320771, 291315, 191015, 243019, 278883, 372839, 248746, 147448, 234333, 250285, 336650, 264580, 341839, 425636, 267704]
[2179310, 38592, 32892, 54659, 64907, 72066, 85295, 97822, 101861, 85954, 87042, 119521, 116327, 73372, 74729, 93543, 127547, 95838, 55811, 83039, 89631, 107647, 84282, 104175, 135018, 97740]

(26, 26, 26)

In [68]:
print(junior_2020)
print(adult_2020)
print(elders_2020)

len(junior_2020),len(adult_2020),len(elders_2020)

[1405611, 18540, 13609, 29105, 40264, 45503, 44435, 49823, 65967, 37741, 44402, 86417, 68380, 43797, 53271, 82424, 84254, 58388, 27217, 50114, 52385, 50972, 79180, 95900, 109812, 73711]
[5987255, 91049, 77406, 144322, 186216, 225946, 210398, 241647, 266035, 181061, 189960, 311990, 289462, 192319, 241640, 273082, 363137, 245095, 145803, 241690, 245896, 332452, 258867, 335394, 416574, 279814]
[2275599, 39795, 34225, 56613, 67076, 75233, 88004, 103232, 105151, 89253, 90895, 124630, 121993, 76057, 76979, 98745, 132794, 100925, 58713, 87676, 92939, 111636, 87079, 107937, 141574, 106445]

(26, 26, 26)

In [70]:
# 2017년 행정구역명 불필요한 데이터명 슬라이싱
for i in range(len(age_data_2017)) :
    age_data_2017['행정구역'][i] = age_data_2017['행정구역'][i][:-13]

<ipython-input-70-27b3a1fc56f7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_data_2017['행정구역'][i] = age_data_2017['행정구역'][i][:-13]

In [22]:
# 2018년 행정구역명 불필요한 데이터명 슬라이싱
for i in range(len(age_data_2018)) :
    age_data_2018['행정구역'][i] = age_data_2018['행정구역'][i][:-13]

<ipython-input-22-0a50bb0f4290>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_data_2018['행정구역'][i] = age_data_2018['행정구역'][i][:-13]

In [23]:
# 2019년 행정구역명 불필요한 데이터명 슬라이싱
for i in range(len(age_data_2019)) :
    age_data_2019['행정구역'][i] = age_data_2019['행정구역'][i][:-13]

<ipython-input-23-e6c5b7ba1105>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_data_2019['행정구역'][i] = age_data_2019['행정구역'][i][:-13]

In [24]:
# 2020년 행정구역명 불필요한 데이터명 슬라이싱
for i in range(len(age_data_2020)) :
    age_data_2020['행정구역'][i] = age_data_2020['행정구역'][i][:-13]

<ipython-input-24-bee8b95fbe58>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_data_2020['행정구역'][i] = age_data_2020['행정구역'][i][:-13]

In [25]:
# 2017년 정리된 DF 만들기

data_2017_dict = {'행정구역':age_data_2017["행정구역"],
            '미성년자':junior_2017,
            '성인':adult_2017,
            '노인':elders_2017,
            '총인구수':age_data_2017["총인구수"]}

df_2017 = pd.DataFrame(data_2017_dict)

df_2017

          행정구역     미성년자       성인       노인     총인구수
0       서울특별시   1623118  6227836  2006472  9857426
1    서울특별시 종로구    21981    96269    36520   154770
2     서울특별시 중구    16056    79320    30333   125709
3    서울특별시 용산구    33318   144296    51547   229161
4    서울특별시 성동구    47291   197133    60384   304808
5    서울특별시 광진구    55087   236733    65883   357703
6   서울특별시 동대문구    51608   219036    80003   350647
7    서울특별시 중랑구    60572   258733    88921   408226
8    서울특별시 성북구    75354   273874    94827   444055
9    서울특별시 강북구    47267   197084    80128   324479
10   서울특별시 도봉구    55198   209863    79105   344166
11   서울특별시 노원구   105227   339564   109612   554403
12   서울특별시 은평구    80354   299258   107182   486794
13  서울특별시 서대문구    48677   195242    68881   312800
14   서울특별시 마포구    60716   244013    70186   374915
15   서울특별시 양천구    94124   292331    84699   471154
16   서울특별시 강서구   100950   384787   115954   601691
17   서울특별시 구로구    67981   255867    86894   410742
18   서울특별시 금천구    33715   150839    50600   235154
19  서울특별시 영등포구    55009   236022    77519   368550
20   서울특별시 동작구    60988   252737    82492   396217
21   서울특별시 관악구    63898   338623   100776   503297
22   서울특별시 서초구    87400   274437    79265   441102
23   서울특별시 강남구   104370   354113    97681   556164
24   서울특별시 송파구   120844   423798   119854   664496
25   서울특별시 강동구    75133   273864    87226   436223

In [26]:
# 2018년 정리된 DF 만들기

data_2018_dict = {'행정구역':age_data_2018["행정구역"],
            '미성년자':junior_2018,
            '성인':adult_2018,
            '노인':elders_2018,
            '총인구수':age_data_2018["총인구수"]}

df_2018 = pd.DataFrame(data_2018_dict)

df_2018.head(1)

     행정구역     미성년자       성인       노인     총인구수
0  서울특별시   1545489  6135888  2084246  9765623

In [27]:
# 2019년 정리된 DF 만들기

data_2019_dict = {'행정구역':age_data_2019["행정구역"],
            '미성년자':junior_2019,
            '성인':adult_2019,
            '노인':elders_2019,
            '총인구수':age_data_2019["총인구수"]}

df_2019 = pd.DataFrame(data_2019_dict)

df_2019.head(1)

     행정구역     미성년자       성인       노인     총인구수
0  서울특별시   1482264  6067533  2179310  9729107

In [28]:
# 2020년 정리된 DF 만들기

data_2020_dict = {'행정구역':age_data_2020["행정구역"],
            '미성년자':junior_2020,
            '성인':adult_2020,
            '노인':elders_2020,
            '총인구수':age_data_2020["총인구수"]}

df_2020 = pd.DataFrame(data_2020_dict)

df_2020.head(1)

     행정구역     미성년자       성인       노인     총인구수
0  서울특별시   1405611  5987255  2275599  9668465

In [29]:
df_2020.head(1)

     행정구역     미성년자       성인       노인     총인구수
0  서울특별시   1405611  5987255  2275599  9668465

In [30]:
# 2017년 

# 미성년자 비율 = 미성년자 수 / 총인구수 * 100
# 성인 비율 = 성인 수 / 총인구수 * 100
# 노인 비율 = 노인 수 / 총인구수 * 100

junior_series = round(df_2017.loc[:, '미성년자'] / df_2017.loc[:, '총인구수'] * 100,2)
adult_series = round(df_2017.loc[:, '성인'] / df_2017.loc[:, '총인구수'] * 100,2)
elders_series = round(df_2017.loc[:, '노인'] / df_2017.loc[:, '총인구수'] * 100,2)

df_2017 = df_2017.assign(미성년자_비율=junior_series,
                        성인_비율=adult_series,
                        노인_비율=elders_series)

In [31]:
# 2018년 

# 미성년자 비율 = 미성년자 수 / 총인구수 * 100
# 성인 비율 = 성인 수 / 총인구수 * 100
# 노인 비율 = 노인 수 / 총인구수 * 100

junior_series = round(df_2018.loc[:, '미성년자'] / df_2018.loc[:, '총인구수'] * 100,2)
adult_series = round(df_2018.loc[:, '성인'] / df_2018.loc[:, '총인구수'] * 100,2)
elders_series = round(df_2018.loc[:, '노인'] / df_2018.loc[:, '총인구수'] * 100,2)

df_2018 = df_2018.assign(미성년자_비율=junior_series,
                        성인_비율=adult_series,
                        노인_비율=elders_series)

In [32]:
# 2019년 

# 미성년자 비율 = 미성년자 수 / 총인구수 * 100
# 성인 비율 = 성인 수 / 총인구수 * 100
# 노인 비율 = 노인 수 / 총인구수 * 100

junior_series = round(df_2019.loc[:, '미성년자'] / df_2019.loc[:, '총인구수'] * 100,2)
adult_series = round(df_2019.loc[:, '성인'] / df_2019.loc[:, '총인구수'] * 100,2)
elders_series = round(df_2019.loc[:, '노인'] / df_2019.loc[:, '총인구수'] * 100,2)

df_2019 = df_2019.assign(미성년자_비율=junior_series,
                        성인_비율=adult_series,
                        노인_비율=elders_series)

In [33]:
# 2020년 

# 미성년자 비율 = 미성년자 수 / 총인구수 * 100
# 성인 비율 = 성인 수 / 총인구수 * 100
# 노인 비율 = 노인 수 / 총인구수 * 100

junior_series = round(df_2020.loc[:, '미성년자'] / df_2020.loc[:, '총인구수'] * 100,2)
adult_series = round(df_2020.loc[:, '성인'] / df_2020.loc[:, '총인구수'] * 100,2)
elders_series = round(df_2020.loc[:, '노인'] / df_2020.loc[:, '총인구수'] * 100,2)

df_2020 = df_2020.assign(미성년자_비율=junior_series,
                        성인_비율=adult_series,
                        노인_비율=elders_series)

In [34]:
df_2017

          행정구역     미성년자       성인       노인     총인구수  미성년자_비율  성인_비율  노인_비율
0       서울특별시   1623118  6227836  2006472  9857426    16.47  63.18  20.35
1    서울특별시 종로구    21981    96269    36520   154770    14.20  62.20  23.60
2     서울특별시 중구    16056    79320    30333   125709    12.77  63.10  24.13
3    서울특별시 용산구    33318   144296    51547   229161    14.54  62.97  22.49
4    서울특별시 성동구    47291   197133    60384   304808    15.52  64.67  19.81
5    서울특별시 광진구    55087   236733    65883   357703    15.40  66.18  18.42
6   서울특별시 동대문구    51608   219036    80003   350647    14.72  62.47  22.82
7    서울특별시 중랑구    60572   258733    88921   408226    14.84  63.38  21.78
8    서울특별시 성북구    75354   273874    94827   444055    16.97  61.68  21.35
9    서울특별시 강북구    47267   197084    80128   324479    14.57  60.74  24.69
10   서울특별시 도봉구    55198   209863    79105   344166    16.04  60.98  22.98
11   서울특별시 노원구   105227   339564   109612   554403    18.98  61.25  19.77
12   서울특별시 은평구    80354   299258   107182   486794    16.51  61.48  22.02
13  서울특별시 서대문구    48677   195242    68881   312800    15.56  62.42  22.02
14   서울특별시 마포구    60716   244013    70186   374915    16.19  65.08  18.72
15   서울특별시 양천구    94124   292331    84699   471154    19.98  62.05  17.98
16   서울특별시 강서구   100950   384787   115954   601691    16.78  63.95  19.27
17   서울특별시 구로구    67981   255867    86894   410742    16.55  62.29  21.16
18   서울특별시 금천구    33715   150839    50600   235154    14.34  64.14  21.52
19  서울특별시 영등포구    55009   236022    77519   368550    14.93  64.04  21.03
20   서울특별시 동작구    60988   252737    82492   396217    15.39  63.79  20.82
21   서울특별시 관악구    63898   338623   100776   503297    12.70  67.28  20.02
22   서울특별시 서초구    87400   274437    79265   441102    19.81  62.22  17.97
23   서울특별시 강남구   104370   354113    97681   556164    18.77  63.67  17.56
24   서울특별시 송파구   120844   423798   119854   664496    18.19  63.78  18.04
25   서울특별시 강동구    75133   273864    87226   436223    17.22  62.78  20.00

In [35]:
df_2018.head(1)

     행정구역     미성년자       성인       노인     총인구수  미성년자_비율  성인_비율  노인_비율
0  서울특별시   1545489  6135888  2084246  9765623    15.83  62.83  21.34

In [36]:
df_2019.head(1)

     행정구역     미성년자       성인       노인     총인구수  미성년자_비율  성인_비율  노인_비율
0  서울특별시   1482264  6067533  2179310  9729107    15.24  62.36   22.4

In [37]:
df_2020.head(1)

     행정구역     미성년자       성인       노인     총인구수  미성년자_비율  성인_비율  노인_비율
0  서울특별시   1405611  5987255  2275599  9668465    14.54  61.93  23.54

In [38]:
df_2020.to_csv("./fin_data/2020년_연령별_인구현황.csv")

# #########

In [39]:

df_el_2017 = pd.read_csv("./data/서울시_고령자현황(구별)통계(2017).csv",thousands=',')

df_el_2017.sort_values(by="자치구", ascending=True, inplace=True)

df_el_2017.head(1)
# el_2017 = np.array(df_el_2017["65세이상 인구(계)"][:26])
# el_2017

,기간,자치구,동,전체인구(계),전체인구(남),전체인구(여),65세이상 인구(계),65세이상 인구(남),65세이상 인구(여)
22,2017,강남구,소계,561052,268941,292111,65060,29337,35723

In [40]:
df_apart_price_2017 = pd.read_csv("./fin_data/apart2017medv.csv")
df_apart_price_2017.sort_values(by="구", ascending=True, inplace=True)

# df_apart_price_2017

In [41]:
price_2017 = np.array(df_apart_price_2017['거래금액(만원)/전용면적(㎡)'][:26])
# en_scores = np.array(df['english'])[:10]
price_2017

array([1466.08231947,  746.5778891 ,  514.43297775,  652.27198394,
        572.53004093,  791.12242673,  543.78460523,  473.8227099 ,
        541.10912229,  468.88309882,  610.60856033,  746.29361111,
        835.28204493,  662.287611  , 1238.21648705,  829.17522968,
        576.89019567, 1029.91452374,  777.99620316,  717.65061187,
       1012.64060492,  562.80113063,  696.59505724,  761.22152907,
        498.25494715])

In [42]:
df_2017.sort_values(by="행정구역", ascending=True, inplace=True)
df_2017 = df_2017[1:]

In [43]:
# df_2017
#

In [44]:
# 2017년 부동산 가격과 성인 인구의 상관계수

adult_age_2017 = np.array(df_2017['성인'][:26])
adult_age_2017

# 수식으로 계산
np.cov(price_2017,adult_age_2017, ddof=0)[0,1] / (np.std(price_2017) * np.std(adult_age_2017))

0.21809588572437125

In [45]:
# 2017년 부동산 가격과 60세 이상 노인인구의 상관계수

elders_age_2017 = np.array(df_2017['노인'][:26])
# 수식으로 계산
np.cov(price_2017,elders_age_2017, ddof=0)[0,1] / (np.std(price_2017) * np.std(elders_age_2017))

-0.002463357868435699

In [46]:
# 2017년 부동산 가격과 미성년자 인구의 상관계수

junior_age_2017 = np.array(df_2017['미성년자'][:26])
junior_age_2017
# 수식으로 계산
# np.cov(price_2017,junior_age_2017, ddof=0)[0,1] / (np.std(price_2017) * np.std(junior_age_2017))

array([104370,  75133,  47267, 100950,  63898,  55087,  67981,  33715,
       105227,  55198,  51608,  60988,  60716,  48677,  87400,  47291,
        75354, 120844,  94124,  55009,  33318,  80354,  21981,  16056,
        60572], dtype=int64)

In [48]:
# 2017년 부동산 가격과 65세 이상 노인 인구의 상관계수
el_2017 = np.array(df_el_2017["65세이상 인구(계)"][:26])

# 수식으로 계산
np.cov(price_2017,el_2017, ddof=0)[0,1] / (np.std(price_2017) * np.std(el_2017))

-0.039084157767219324

In [ ]:
#