# 공공데이터에서 관련 데이터 수집 후 카페 업종 현황 확인

- 전국 카페 데이터를 모두 수집
- 서울 지역의 점포 현황 확인

In [15]:
# 라이브러리를 불러옵니다.
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## 데이터 불러오기

In [16]:
# 다운 받은 데이터 중 1개 가져오기
tmp = pd.read_csv('../data/store/소상공인시장진흥공단_상가(상권)정보_인천_202103.csv')
tmp.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23498449,츄로하임,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2826010400109750004000001,청라반도유보라,인천광역시 서구 솔빛로 55,404170.0,22765.0,NaN,NaN,102,126.626740,37.525163
1,22882934,간석미용실,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,2820010200101900026021270,NaN,인천광역시 남동구 석촌로14번길 5,405230.0,21545.0,NaN,NaN,NaN,126.709349,37.461969
2,17175369,박서방네목로주점,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,2818510500107960010163157,NaN,인천광역시 연수구 청량로46번길 7,406131.0,21943.0,NaN,NaN,NaN,126.660078,37.413774
3,24444979,라헬,NaN,D,소매,D05,의복의류,D05A01,일반의류,G47416,...,2818510500109230000007532,금호동아아파트,인천광역시 연수구 청능대로 124,406775.0,21967.0,NaN,NaN,106,126.677224,37.410678
4,24872335,교동상회,NaN,D,소매,D06,가방/신발/액세서리,D06A07,양품점,G47419,...,2871040023105550000046505,NaN,인천광역시 강화군 교동면 교동남로423번길 16-1,417921.0,23001.0,NaN,NaN,NaN,126.316681,37.779079

In [17]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106707 entries, 0 to 106706
Data columns (total 39 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   상가업소번호     106707 non-null  int64
 1   상호명        106707 non-null  object
 2   지점명        16164 non-null   object
 3   상권업종대분류코드  106707 non-null  object
 4   상권업종대분류명   106707 non-null  object
 5   상권업종중분류코드  106707 non-null  object
 6   상권업종중분류명   106707 non-null  object
 7   상권업종소분류코드  106707 non-null  object
 8   상권업종소분류명   106707 non-null  object
 9   표준산업분류코드   100224 non-null  object
 10  표준산업분류명    100224 non-null  object
 11  시도코드       106707 non-null  int64
 12  시도명        106707 non-null  object
 13  시군구코드      106707 non-null  int64
 14  시군구명       106707 non-null  object
 15  행정동코드      106707 non-null  int64
 16  행정동명       106707 non-null  object
 17  법정동코드      106707 non-null  int64
 18  법정동명       106707 non-null  object
 19  지번코드       106707 non-null  int64
 20  대지구분코드     106707 non-null  int64
 21  대지구분명      106707 non-null  object
 22  지번본번지      106707 non-null  int64
 23  지번부번지      91472 non-null   float64
 24  지번주소       106707 non-null  object
 25  도로명코드      106707 non-null  int64
 26  도로명        106707 non-null  object
 27  건물본번지      106707 non-null  int64
 28  건물부번지      16449 non-null   float64
 29  건물관리번호     106707 non-null  object
 30  건물명        49290 non-null   object
 31  도로명주소      106707 non-null  object
 32  구우편번호      106090 non-null  float64
 33  신우편번호      106703 non-null  float64
 34  동정보        13462 non-null   object
 35  층정보        51599 non-null   object
 36  호정보        25447 non-null   object
 37  경도         106707 non-null  float64
 38  위도         106707 non-null  float64
dtypes: float64(6), int64(10), object(23)
memory usage: 31.8+ MB

### 파일관련 편리한 모듈


- pickle
    - 파일에 읽고 쓰는 작업을 함수를 통해 한번에 진행시켜 줌
- glob
    - 파일들의 리스트를 뽑을 때 사용
        - 파일의 경로명과 기호를 이용해서 원하는 파일 경로를 생성해 낼 수있음
- os
    - 운영체제의 파일 관련 작업 명령에 대한 함수를 제공 함

In [20]:
# pickle 모듈
users = {'kim':'3kid9', 'sun80':'393948', 'ljm':'py90390'}

# 파일에 users data 쓰기
f = open('user.txt', 'wb')

import pickle
pickle.dump(users,f)
f.close()

In [22]:
f = open('user.txt', 'rb')
a = pickle.load(f)
a

{'kim': '3kid9', 'sun80': '393948', 'ljm': 'py90390'}

In [26]:
import os
os.path.exists('user.txt')
os.path.exists('../user.txt')

True

False

In [29]:
from glob import glob

glob('*.ipynb') # 현재 디렉터리의 * .ipynb인 파일의 파일명 반환

glob('*.txt')

['date_range 함수 정리.ipynb',
 '노트 1-4 pandas연습(데이터병합).ipynb',
 '노트 1-6 matplotlib 연습.ipynb',
 '노트 1_1 pandas 연습(시리즈.데이터프레임,기본인덱싱).ipynb',
 '노트1-1_1판다스연습(데이터프레임).ipynb',
 '노트1-2 판다스연습(인덱서loc,iloc).ipynb',
 '노트1-3 판다스연습(DF 데이터조작, 개수, 정렬등).ipynb',
 '노트1_5 판다스연습(피봇테이블).ipynb',
 '노트북 단축키.ipynb',
 '문제 1. 시리즈 연습문제.ipynb',
 '문제 2. 데이터프레임 연습문제.ipynb',
 '문제 3. 인덱서문제(loc,iloc).ipynb',
 '문제 4. 데이터프레임 조작,개수,정렬 문제.ipynb',
 '문제 5. 데이터병합 문제.ipynb',
 '예제1_cctv와 인구분석.ipynb',
 '예제2_공공데이터를 이용한 지역별 브랜드별 카페.ipynb']

['user.txt']

In [36]:
## 해당 파일 리스트가 디렉터리인지 확인
from glob import glob
from os.path import isdir


for x in glob('../data/*') :
    if isdir(x) : # x가 디렉터리면
        print(x, '<DIR>')
    else : 
        print(x)

../data\01. CCTV_in_Seoul.csv
../data\01.population_in_Seoul.xls
../data\store <DIR>
../data\train.csv

In [37]:
# data 폴더에 있는 모든 csv 파일을 읽어오기

from glob import glob

# csv 목록 불러오기
file_names = glob("../data/store/*.csv")
file_names

['../data/store\\소상공인시장진흥공단_상가(상권)정보_강원_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경기_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경남_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_경북_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_광주_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_대구_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_대전_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_부산_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_서울_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_세종_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_울산_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_인천_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_전남_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_전북_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_제주_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_충남_202103.csv',
 '../data/store\\소상공인시장진흥공단_상가(상권)정보_충북_202103.csv']

In [38]:
# csv 읽어와서 기존 df에 병합 : concat 함수 사용

total = pd.DataFrame() # 빈 데이터프레임 생성

# 모든 csv 병합하기
for file_name in file_names:
    temp = pd.read_csv(file_name, sep=',', encoding='utf-8')
    total = pd.concat([total, temp])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [39]:
total.shape

(2233997, 39)

In [40]:
total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2233997 entries, 0 to 85664
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      int64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      int64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        object
 37  경도         float64
 38  위도         float64
dtypes: float64(6), int64(10), object(23)
memory usage: 681.8+ MB

In [42]:
# index 재설정
total.reset_index(inplace=True, drop=True)

In [43]:
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 40 columns):
 #   Column     Dtype
---  ------     -----
 0   index      int64
 1   상가업소번호     int64
 2   상호명        object
 3   지점명        object
 4   상권업종대분류코드  object
 5   상권업종대분류명   object
 6   상권업종중분류코드  object
 7   상권업종중분류명   object
 8   상권업종소분류코드  object
 9   상권업종소분류명   object
 10  표준산업분류코드   object
 11  표준산업분류명    object
 12  시도코드       int64
 13  시도명        object
 14  시군구코드      int64
 15  시군구명       object
 16  행정동코드      int64
 17  행정동명       object
 18  법정동코드      int64
 19  법정동명       object
 20  지번코드       int64
 21  대지구분코드     int64
 22  대지구분명      object
 23  지번본번지      int64
 24  지번부번지      float64
 25  지번주소       object
 26  도로명코드      int64
 27  도로명        object
 28  건물본번지      int64
 29  건물부번지      float64
 30  건물관리번호     object
 31  건물명        object
 32  도로명주소      object
 33  구우편번호      float64
 34  신우편번호      float64
 35  동정보        object
 36  층정보        object
 37  호정보        object
 38  경도         float64
 39  위도         float64
dtypes: float64(6), int64(11), object(23)
memory usage: 681.8+ MB

In [45]:
# 사용할 컬럼만 선택 : 기본 인덱싱 사용 => df[[컬럼1, 컬럼2,....]]

data = total[['상호명', '지점명', '상권업종대분류명', '상권업종중분류명', '시도명',
             '시군구명', '행정동명']]

data

                   상호명   지점명 상권업종대분류명   상권업종중분류명   시도명     시군구명     행정동명
0              평창라마다호텔   NaN       숙박      호텔/콘도   강원도      평창군     대관령면
1          호텔탑스텐스카이라운지   NaN       숙박      호텔/콘도   강원도      강릉시      옥계면
2            동그라미중고타이어   NaN       소매  자동차/자동차용품   강원도      강릉시     포남1동
3        세인트존스호텔Ohcrab   NaN       숙박      호텔/콘도   강원도      강릉시      초당동
4                 국수나루   NaN       음식         한식   강원도      강릉시      옥천동
...                ...   ...      ...        ...   ...      ...      ...
2233992           더:예쁨   NaN    생활서비스    이/미용/건강  충청북도      충주시      연수동
2233993          우리집밥상   NaN       음식         한식  충청북도      음성군      음성읍
2233994            빅스타  서충주점       음식         한식  충청북도      충주시     대소원면
2233995           무한닭발   NaN       음식     닭/오리요리  충청북도  청주시 흥덕구  봉명2.송정동
2233996        모아모아플레이   NaN       음식         한식  충청북도  청주시 상당구      성안동

[2233997 rows x 7 columns]

In [46]:
data.info()
total.info() # 필요없는 데이터면서 메모리를 많이 차지하므로 삭제해야함

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   상호명       object
 1   지점명       object
 2   상권업종대분류명  object
 3   상권업종중분류명  object
 4   시도명       object
 5   시군구명      object
 6   행정동명      object
dtypes: object(7)
memory usage: 119.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 40 columns):
 #   Column     Dtype
---  ------     -----
 0   index      int64
 1   상가업소번호     int64
 2   상호명        object
 3   지점명        object
 4   상권업종대분류코드  object
 5   상권업종대분류명   object
 6   상권업종중분류코드  object
 7   상권업종중분류명   object
 8   상권업종소분류코드  object
 9   상권업종소분류명   object
 10  표준산업분류코드   object
 11  표준산업분류명    object
 12  시도코드       int64
 13  시도명        object
 14  시군구코드      int64
 15  시군구명       object
 16  행정동코드      int64
 17  행정동명       object
 18  법정동코드      int64
 19  법정동명       object
 20  지번코드       int64
 21  대지구분코드     int64
 22  대지구분명      object
 23  지번본번지      int64
 24  지번부번지      float64
 25  지번주소       object
 26  도로명코드      int64
 27  도로명        object
 28  건물본번지      int64
 29  건물부번지      float64
 30  건물관리번호     object
 31  건물명        object
 32  도로명주소      object
 33  구우편번호      float64
 34  신우편번호      float64
 35  동정보        object
 36  층정보        object
 37  호정보        object
 38  경도         float64
 39  위도         float64
dtypes: float64(6), int64(11), object(23)
memory usage: 681.8+ MB

In [47]:
# 원 소스 파일도 존재하고 필요한 데이터를 추출 했으므로 total 데이터는 삭제
del total

In [48]:
total.head()

NameError: name 'total' is not defined

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233997 entries, 0 to 2233996
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   상호명       object
 1   지점명       object
 2   상권업종대분류명  object
 3   상권업종중분류명  object
 4   시도명       object
 5   시군구명      object
 6   행정동명      object
dtypes: object(7)
memory usage: 119.3+ MB

In [58]:
data['상권업종대분류명'].unique()
set(data['상권업종중분류명'])


# 분석 대상인 커피전문점은 중분류의 커피점/카페 로 확인

array(['숙박', '소매', '음식', '학문/교육', '생활서비스', '부동산', '관광/여가/오락', '스포츠'],
      dtype=object)

{'PC/오락/당구/볼링등',
 '가구소매',
 '가방/신발/액세서리',
 '가전제품소매',
 '가정/주방/인테리어',
 '개인/가정용품수리',
 '개인서비스',
 '건강/미용식품',
 '경마/경륜/성인오락',
 '광고/인쇄',
 '기타교육기관',
 '기타서비스업',
 '기타음식업',
 '기타판매업',
 '놀이/여가/취미',
 '닭/오리요리',
 '대중목욕탕/휴게',
 '대행업',
 '도서관/독서실',
 '모텔/여관/여인숙',
 '무도/유흥/가무',
 '물품기기대여',
 '민박/하숙',
 '법무세무회계',
 '별식/퓨전요리',
 '부동산관련서비스',
 '부동산임대',
 '부동산중개',
 '부페',
 '분식',
 '분양',
 '사무/문구/컴퓨터',
 '사진',
 '사진/광학/정밀기기소매',
 '선물/팬시/기념품',
 '세탁/가사서비스',
 '스포츠/운동',
 '시계/귀금속소매',
 '실내운동시설',
 '실외운동시설',
 '애견/애완/동물',
 '양식',
 '연구소',
 '연극/영화/극장',
 '예술품/골동품/수석/분재',
 '예식/의례/관혼상제',
 '요가/단전/마사지',
 '운동/경기용품소매',
 '운송/배달/택배',
 '운영관리시설',
 '유스호스텔',
 '유아교육',
 '유아용품',
 '유흥주점',
 '음/식료품소매',
 '음식배달서비스',
 '의복의류',
 '의약/의료품소매',
 '이/미용/건강',
 '인력/고용/용역알선',
 '일식/수산물',
 '자동차/이륜차',
 '자동차/자동차용품',
 '장례/묘지',
 '전시/관람',
 '제과제빵떡케익',
 '종교용품판매',
 '종합소매점',
 '주유소/충전소',
 '주택수리',
 '중고품소매/교환',
 '중식',
 '책/서적/도서',
 '철물/난방/건설자재소매',
 '취미/오락관련소매',
 '캠프/별장/펜션',
 '커피점/카페',
 '특수교육기관',
 '패스트푸드',
 '페인트/유리제품소매',
 '평가/개발/관리',
 '학교',
 '학문교육기타',
 '학원-보습교습입시',
 '학원-어학',
 '학원-예능취미체육',
 '학원-음악미술무용',
 '학원-자격/국가고시',
 '학원-창업취업취미',
 '학원-컴퓨터',
 '학원기타',
 '한식',
 '행사/이벤트',
 '호텔/콘도',
 '화장품소매'}

In [66]:
# 카페 정보만 추출
df_cafe = data[data['상권업종중분류명'] == '커피점/카페']

df_cafe.reset_index(inplace=True, drop = True)

print("전국 카페 매장 수 : ", len(df_cafe))

df_cafe.head()

전국 카페 매장 수 :  106710

        상호명     지점명 상권업종대분류명 상권업종중분류명  시도명 시군구명 행정동명
0  키즈까페아이사랑     NaN       음식   커피점/카페  강원도  강릉시  성덕동
1      카페마실     NaN       음식   커피점/카페  강원도  원주시  단계동
2        힐링     NaN       음식   커피점/카페  강원도  원주시  단구동
3       드롭탑  속초엑스포점       음식   커피점/카페  강원도  속초시  조양동
4     상유재카페     NaN       음식   커피점/카페  강원도  정선군  정선읍

## 지역별 커피 전문점

In [72]:
set(data['시도명'])
len(set(data['시도명']))

{'강원도',
 '경기도',
 '경상남도',
 '경상북도',
 '광주광역시',
 '대구광역시',
 '대전광역시',
 '부산광역시',
 '서울특별시',
 '세종특별자치시',
 '울산광역시',
 '인천광역시',
 '전라남도',
 '전라북도',
 '제주특별자치도',
 '충청남도',
 '충청북도'}

17

In [77]:
## 전체 data인 data df에서 서울시의 카페 데이터 추출

df_seoul_cafe = data[(data['상권업종중분류명'] == '커피점/카페') &
                     (data['시도명'] == '서울특별시')]

## 인덱스 정리(index 속성 이용)
df_seoul_cafe.index = range(len(df_seoul_cafe))
df_seoul_cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20391 entries, 0 to 20390
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   상호명       20391 non-null  object
 1   지점명       7139 non-null   object
 2   상권업종대분류명  20391 non-null  object
 3   상권업종중분류명  20391 non-null  object
 4   시도명       20391 non-null  object
 5   시군구명      20391 non-null  object
 6   행정동명      20391 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB