In [21]:
# 필요한 모듈 임포트
import numpy as np # 선형대수 
import pandas as pd # 데이터 프레임
%matplotlib inline 
# 그래프 쥬피터 노트북 위에 그려지게끔 
import seaborn as sns # 데이터 시각화 
import matplotlib.pyplot as plt # 데이터 시각화

    데이터 : 2019년 연말정산을 기준으로 서울시 구별 전체 소득과 인원을 기준
    데이터 출처 : https://kosis.kr/statHtml/statHtml.dotblId=DT_133001N_4215&orgId=133&language=kor&conn_path=&vw_cd=&list_id=

## read_csv 하는데 필요한 파일 목록
 - ./data/2019연말정산.csv

In [22]:
state19 = pd.read_csv("./data/2019연말정산.csv", encoding='CP949')

In [23]:
state19.head(30)

,행정구역(시군구)별(1),행정구역(시군구)별(2),인원 (명),금액 (백만원),인원 (명).1,금액 (백만원).1,인원 (명).2,금액 (백만원).2,인원 (명).3,금액 (백만원).3
0,전국,소계,19167273,721686447,19074871,717531015,17102113,398689340,12112622,41101084
1,서울,소계,3845841,164800618,3836212,163916825,3441286,98648176,2448702,13405669
2,서울,강남구,209653,14926829,209360,14863887,191335,10618866,149796,2207827
3,서울,강동구,183833,7447177,183504,7407086,164583,4268152,118169,469757
4,서울,강북구,105025,3075447,104773,3058999,91856,1525316,59757,109023
5,서울,강서구,245495,9178851,244918,9087948,220554,5019431,154557,482288
6,서울,관악구,217483,6865539,216841,6830972,192332,3576033,125611,279490
7,서울,광진구,145629,5495292,145146,5469408,129693,3125033,89250,357989
8,서울,구로구,171843,5972692,171435,5943790,153847,3196597,106207,279869
9,서울,금천구,98934,2973640,98708,2958726,87906,1501049,57612,103850
10,서울,노원구,191248,7206570,190624,7165622,170381,3915063,120204,368243
11,서울,도봉구,118771,3797517,118459,3776964,103389,1963299,69443,162934
12,서울,동대문구,125149,4357428,124535,4333325,110152,2358385,75950,217507
13,서울,동작구,163292,6661784,162746,6627712,146294,3864194,104044,442282
14,서울,마포구,156129,7296518,155708,7256814,139819,4501078,102705,622419
15,서울,서대문구,121106,4982198,120695,4951826,107729,2903893,76931,344250
16,서울,서초구,168901,12021965,168577,11969079,154937,8503332,122049,1720357
17,서울,성동구,117651,5431210,117425,5403559,106032,3344887,77747,466910
18,서울,성북구,155845,6132023,155413,6096249,137708,3484727,96351,411337
19,서울,송파구,280758,14203992,280281,14132599,254867,8985165,190097,1346542
20,서울,양천구,175717,8042926,175324,7994256,158055,4847355,115304,644955
21,서울,영등포구,170948,7398345,170673,7361189,154535,4413931,113350,545297
22,서울,용산구,92859,5822661,92706,5800844,83865,4110203,62844,861572
23,서울,은평구,183936,6343267,183408,6306182,163526,3371416,111229,303023
24,서울,종로구,52689,2566206,52543,2551645,46744,1649953,33849,277468
25,서울,중구,47280,2184474,47160,2173922,42216,1390966,30661,224234
26,서울,중랑구,145667,4416068,145250,4394220,128931,2209852,84985,156250
27,인천,소계,1145602,38615008,1141512,38385344,1018652,20064328,708814,1646243
28,인천,강화군,18457,580350,18228,576903,16117,300308,11065,24112
29,인천,계양구,116028,3465097,115518,3444659,102338,1707440,68751,110900

In [24]:
# 2019 연말장소 파일에서 서울시 구별로 인구와 총 급여만 나타낸 데이터 프레임을 추출한다
state19=state19.iloc[2:27,1:4]

In [25]:
state19

   행정구역(시군구)별(2)  인원 (명)  금액 (백만원)
2            강남구  209653  14926829
3            강동구  183833   7447177
4            강북구  105025   3075447
5            강서구  245495   9178851
6            관악구  217483   6865539
7            광진구  145629   5495292
8            구로구  171843   5972692
9            금천구   98934   2973640
10           노원구  191248   7206570
11           도봉구  118771   3797517
12          동대문구  125149   4357428
13           동작구  163292   6661784
14           마포구  156129   7296518
15          서대문구  121106   4982198
16           서초구  168901  12021965
17           성동구  117651   5431210
18           성북구  155845   6132023
19           송파구  280758  14203992
20           양천구  175717   8042926
21          영등포구  170948   7398345
22           용산구   92859   5822661
23           은평구  183936   6343267
24           종로구   52689   2566206
25            중구   47280   2184474
26           중랑구  145667   4416068

In [26]:
state19["인원 (명)"]

2     209653
3     183833
4     105025
5     245495
6     217483
7     145629
8     171843
9      98934
10    191248
11    118771
12    125149
13    163292
14    156129
15    121106
16    168901
17    117651
18    155845
19    280758
20    175717
21    170948
22     92859
23    183936
24     52689
25     47280
26    145667
Name: 인원 (명), dtype: int64

In [27]:
state19["금액 (백만원)"]

2     14926829
3      7447177
4      3075447
5      9178851
6      6865539
7      5495292
8      5972692
9      2973640
10     7206570
11     3797517
12     4357428
13     6661784
14     7296518
15     4982198
16    12021965
17     5431210
18     6132023
19    14203992
20     8042926
21     7398345
22     5822661
23     6343267
24     2566206
25     2184474
26     4416068
Name: 금액 (백만원), dtype: int64

In [28]:
# 서울시 구별 평균 연봉을 알기 위해서 구별 총 급여를 구별 인구로 나누어 주었다.
state19["평균연봉(원)"]=state19["금액 (백만원)"]/state19["인원 (명)"]*10000

In [29]:
# 인덱스 리셋
state19.reset_index(drop=True,inplace=True)

In [30]:
# 구 명과 구별 평균연봉만 칼럼으로 추출하였다.
seoulSalary19=state19[["행정구역(시군구)별(2)","평균연봉(원)"]]

In [31]:
seoulSalary19

   행정구역(시군구)별(2)        평균연봉(원)
0            강남구  711977.839573
1            강동구  405105.557762
2            강북구  292829.992859
3            강서구  373891.566020
4            관악구  315681.639484
5            광진구  377348.742352
6            구로구  347566.790617
7            금천구  300568.055471
8            노원구  376818.058228
9            도봉구  319734.362765
10          동대문구  348179.210381
11           동작구  407967.567303
12           마포구  467339.059368
13          서대문구  411391.508265
14           서초구  711775.833180
15           성동구  461637.385148
16           성북구  393469.344541
17           송파구  505915.842113
18           양천구  457720.425457
19          영등포구  432783.361022
20           용산구  627043.259135
21           은평구  344862.723991
22           종로구  487047.770882
23            중구  462029.187817
24           중랑구  303161.869195

In [32]:
seoulSalary19.to_csv('./fin_data/2019서울시구별평균연봉.csv',header=True,index=False)